/* Error: Undefined variable.
 *    ,
 * 67 |     box-shadow: 0 3px 6px $color-sombra, 0 3px 6px $color-sombra;
 *    |                           ^^^^^^^^^^^^^
 *    '
 *   SASS\UTILIDADES\_sombras.scss 67:27  @use
 *   SASS\main.scss 3:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 67 \2502      box-shadow: 0 3px 6px $color-sombra, 0 3px 6px $color-sombra;\d\a    \2502                            ^^^^^^^^^^^^^\a    \2575 \a   SASS\\UTILIDADES\\_sombras.scss 67:27  @use\a   SASS\\main.scss 3:1                   root stylesheet";
}
