@charset "UTF-8";
.borde__solido {
  border: solid 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dotted, .btn {
  border: dotted 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dashed {
  border: dashed 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__double {
  border: double 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__groove {
  border: groove 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__ridge {
  border: ridge 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__inset {
  border: inset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__outset {
  border: outset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__Esquinas_dedondeada, .boton__animacion__1, .boton__animacion__2, .boton__animacion__3, .boton__animacion__4 {
  border-radius: 5px 5px 5px 5px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__none {
  border: none;
  border-color: #ecaacd;
}

/*------------------------------------------------*/
/*                 BORDES REDONDEADOR             */
/*------------------------------------------------*/
.borde__redondeado__1 {
  border-radius: 25% 10%;
}

.borde__redondeado__2 {
  border-radius: 25% 10%;
}

.borde__redondeado__3 {
  border-radius: 10% 30% 50% 70%;
}

.borde__redondeado__4 {
  border-radius: 10%/50%;
}

.borde__redondeado__5 {
  border-radius: 10px 100px/120px;
}

.borde__redondeado__6 {
  border-radius: 50% 20%/10% 40%;
}

/*------------------------------------------------*/
/*          BORDES CON ESQUINA REDONDEADAS         */
/*------------------------------------------------*/
.borde__redondeado__7 {
  border-end-start-radius: 80px 80px;
}

.borde__redondeado__8 {
  border-end-start-radius: 250px 100px;
  direction: rtl;
}

.borde__redondeado__9 {
  border-end-start-radius: 50%;
  writing-mode: vertical-lr;
}

.borde__redondeado__10 {
  border-end-start-radius: 50%;
  writing-mode: vertical-rl;
}

/*------------------------------------------------*/
/*      BORDER CIRCULO                       */
/*------------------------------------------------*/
.borde__circle {
  border-radius: 50px;
}

/*------------------------------------------------*/
/*          BORDE REDONDEADOS                     */
/*------------------------------------------------*/
.borde__equna {
  border-radius: 60px/20px;
}

.borde__redondeado__15 {
  border-radius: 13em/3em;
}

/*------------------------------------------------*/
/*      ESTILO DE HTML                            */
/*------------------------------------------------*/
.sombra_superior, .btn {
  box-shadow: 0px -25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_derecha {
  box-shadow: 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_inferior {
  box-shadow: 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_izquierda {
  box-shadow: -25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px #00eeff, 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px #00eeff, 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1D3557;
}

.title {
  font-family: "Blackbeard", cursive;
  font-size: 2.5em;
  color: #9e0631;
}

.subtitle {
  font-family: "Marine", sans-serif;
  font-size: 1.8em;
  color: #A8DADC;
}

.paragraph {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.quote {
  font-family: "Devil Fruit", fantasy;
  font-size: 1.2em;
  color: #457B9D;
}

.small-caps {
  font-variant: small-caps;
}

.skull-heading {
  font-family: "Skull and Cross", sans-serif;
  font-size: 3em;
  color: #A8DADC;
}

.ancient-text {
  font-family: "Ancient Text", serif;
  font-size: 1.2em;
  color: #F1FAEE;
}

.treasure-map {
  font-family: "Treasure Map", cursive;
  font-size: 1.5em;
  color: #FFFF00;
}

.btn {
  background-color: rosybrown;
  padding: 10px;
  width: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boton__animacion__1 {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183);
  background-color: rgb(163, 255, 183);
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__1:hover {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 50px rgb(163, 255, 183), 0 0 100px rgb(163, 255, 183), 0 0 150px rgb(163, 255, 183), 0 0 200px rgb(163, 255, 183);
}

.boton__animacion__2 {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C;
  background-color: #E83E8C;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__2:hover {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C, 0 0 25px #E83E8C, 0 0 50px #E83E8C, 0 0 100px #E83E8C, 0 0 150px #E83E8C, 0 0 200px #E83E8C;
}

.boton__animacion__3 {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf;
  background-color: #2a5fcf;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__3:hover {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf, 0 0 25px #2a5fcf, 0 0 50px #2a5fcf, 0 0 100px #2a5fcf, 0 0 150px #2a5fcf, 0 0 200px #2a5fcf;
}

.boton__animacion__4 {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809;
  background-color: #f88809;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__4:hover {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809, 0 0 25px #f88809, 0 0 50px #f88809, 0 0 100px #f88809, 0 0 150px #f88809, 0 0 200px #f88809;
}

/* Variables de colores para alertas */
.alert {
  padding: 10px 30px;
  margin: 25px auto; /* Márgenes automáticos para centrar */
  max-width: 600px; /* Ancho máximo de la alerta */
  display: flex;
  align-items: center;
}

.alert-success {
  background: #0e791a;
  font-family: "Devil Fruit", fantasy;
}

.alert-info {
  background: #1628c9;
  color: white;
}

.alert-warning {
  background-color: #FFFF00;
  color: #212529;
}

.alert-danger {
  background-color: #d9160f;
  color: white;
}

.alert-icon {
  margin-left: 10px;
  width: 100px; /* Tamaño del icono */
  height: 100px; /* Tamaño del icono */
  max-width: 20px; /* Ancho máximo del icono */
  max-height: 20px; /* Altura máxima del icono */
}

.alert-success .alert-icon {
  background-image: url("../IMGs/exito.ico");
}

.alert-info .alert-icon {
  background-image: url("info.png");
}

.alert-warning .alert-icon {
  background-image: url("warning.png");
}

.alert-danger .alert-icon {
  background-image: url("error.png");
}

@media (max-width: 768px) {
  .alert {
    flex-direction: column; /* Cambiar la dirección de los elementos en pantallas pequeñas */
    text-align: center; /* Centrar el texto en pantallas pequeñas */
  }
  .alert-icon {
    margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
    margin-bottom: 10px; /* Añadir espacio entre el icono y el texto en pantallas pequeñas */
    width: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    height: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    max-width: 50px; /* Ancho máximo del icono en pantallas pequeñas */
    max-height: 50px; /* Altura máxima del icono en pantallas pequeñas */
  }
}/*# sourceMappingURL=main.css.map */