@use 'UTILIDADES/colores';

@use 'UTILIDADES/bordes';

@use 'UTILIDADES/sombras';

@use 'UTILIDADES/media-query';

@use 'UTILIDADES/tipografia-tex'; 

@use 'Clases_Componentes/alertas';

@use 'Clases_Componentes/botones';

@use 'Clases_Componentes/carrusel';

@use 'Clases_Componentes/formularios';


@use '../SASS/Clases_Componentes/navbars.scss';

<<<<<<< HEAD
@use 'UTILIDADES/grid__alineamineto';

@use '../SASS/UTILIDADES/iconos';

@use '../SASS/Mixin/mixinBtn';




=======
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    transition: margin-left 0.3s ease, margin-top 0.3s ease; /* Ajuste adicional */
  }
>>>>>>> a8c5e8df82364cdc1bbad44bae1d0a4e068cc41b


