@import 'colores';
// Fuentes inspiradas en One Piece
$font-one-piece: 'Times New Roman', Times, serif; // Fuente principal
$font-pirate: 'Blackbeard', cursive; // Fuente de pirata
$font-marine: 'Marine', sans-serif; // Fuente de la Marina
$font-devil-fruit: 'Devil Fruit', fantasy; // Fuente de la fruta del diablo
$font-skull: 'Skull and Cross', sans-serif; // Fuente de calavera
$font-ancient-text: 'Ancient Text', serif; // Fuente de texto antiguo
$font-treasure-map: 'Treasure Map', cursive; // Fuente de mapa del tesoro

// Estilos de texto
body {
  font-family: $font-one-piece;
  font-size: 16px;
  line-height: 1.5;
  color: $color-texto;
}

.title {
  font-family: $font-pirate;
  font-size: 2.5em;
  color: $color-primario;
}

.subtitle {
  font-family: $font-marine;
  font-size: 1.8em;
  color: $color-terciario;
}

.paragraph {
  font-family: $font-one-piece;
  font-size: 1em;
}

.quote {
  font-family: $font-devil-fruit;
  font-size: 1.2em;
  color: $color-acento;
}

.small-caps {
  font-variant: small-caps;
}

.skull-heading {
  font-family: $font-skull;
  font-size: 3em;
  color: $color-enlace;
}

.ancient-text {
  font-family: $font-ancient-text;
  font-size: 1.2em;
  color: $color-secundario;
}

.treasure-map {
  font-family: $font-treasure-map;
  font-size: 1.5em;
  color: $color-amarillo;
}

