.borde__solido {
  border: solid 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dotted {
  border: dotted 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dashed {
  border: dashed 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__double {
  border: double 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__groove {
  border: groove 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__ridge {
  border: ridge 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__inset {
  border: inset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__outset {
  border: outset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

<<<<<<< HEAD:SASS/main.css
.borde__Esquinas_dedondeada, .boton__animacion__1, .boton__animacion__2, .boton__animacion__3, .boton__animacion__4, .boton__basico__1, .boton__basico__2, .boton__basico__3, .boton__basico__4, .boton__blanco__1, .boton__blanco__2, .boton__blanco__3, .boton__blanco__4 {
=======
.borde__Esquinas_dedondeada {
>>>>>>> 4634d1779ee2d248f2fc137b8ec1ed6f7b10a490:Home/cards.css
  border-radius: 5px 5px 5px 5px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__none {
  border: none;
  border-color: #ecaacd;
}

/*------------------------------------------------*/
/*                 BORDES REDONDEADOR             */
/*------------------------------------------------*/
.borde__redondeado__50px, .boton__Movimento__Rosa, .boton__Movimento__rojo, .boton__Movimento__verde, .boton__Movimento__naranja {
  border-radius: 50px;
  border: 0;
}

.borde__redondeado__1 {
  border-radius: 25% 10%;
}

.borde__redondeado__2 {
  border-radius: 25% 10%;
}

.borde__redondeado__3 {
  border-radius: 10% 30% 50% 70%;
}

.borde__redondeado__4 {
  border-radius: 10%/50%;
}

.borde__redondeado__5 {
  border-radius: 10px 100px/120px;
}

.borde__redondeado__6 {
  border-radius: 50% 20%/10% 40%;
}

/*------------------------------------------------*/
/*          BORDES CON ESQUINA REDONDEADAS         */
/*------------------------------------------------*/
.borde__redondeado__7 {
  border-end-start-radius: 80px 80px;
}

.borde__redondeado__8 {
  border-end-start-radius: 250px 100px;
  direction: rtl;
}

.borde__redondeado__9 {
  border-end-start-radius: 50%;
  writing-mode: vertical-lr;
}

.borde__redondeado__10 {
  border-end-start-radius: 50%;
  writing-mode: vertical-rl;
}

/*------------------------------------------------*/
/*      BORDER CIRCULO                       */
/*------------------------------------------------*/
.borde__circle {
  border-radius: 50px;
}

/*------------------------------------------------*/
/*          BORDE REDONDEADOS                     */
/*------------------------------------------------*/
.borde__equna {
  border-radius: 60px/20px;
}

.borde__redondeado__15 {
  border-radius: 13em/3em;
}

/*------------------------------------------------*/
/*      ESTILO DE HTML                            */
/*------------------------------------------------*/
.sombra_superior {
  box-shadow: 0px -25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_derecha {
  box-shadow: 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_inferior {
  box-shadow: 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_izquierda {
  box-shadow: -25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px #00eeff, 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px #00eeff, 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1D3557;
}

.title {
  font-family: "Blackbeard", cursive;
  font-size: 2.5em;
  color: #9e0631;
}

.subtitle {
  font-family: "Marine", sans-serif;
  font-size: 1.8em;
  color: #A8DADC;
}

.paragraph {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.quote, .boton__blanco__1, .boton__blanco__2, .boton__blanco__3, .boton__blanco__4 {
  font-family: "Devil Fruit", fantasy;
  font-size: 1.2em;
  color: #457B9D;
}

.small-caps {
  font-variant: small-caps;
}

.skull-heading {
  font-family: "Skull and Cross", sans-serif;
  font-size: 3em;
  color: #A8DADC;
}

.ancient-text {
  font-family: "Ancient Text", serif;
  font-size: 1.2em;
  color: #F1FAEE;
}

.treasure-map {
  font-family: "Treasure Map", cursive;
  font-size: 1.5em;
  color: #FFFF00;
}

<<<<<<< HEAD:SASS/main.css
.sombra_superior, .btn {
  box-shadow: 0px -25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_derecha {
  box-shadow: 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_inferior {
  box-shadow: 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_izquierda {
  box-shadow: -25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px #00eeff, 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px #00eeff, 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.btn {
  background-color: rosybrown;
  padding: 10px;
  width: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boton__animacion__1 {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183);
  background-color: rgb(163, 255, 183);
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__1:hover {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 50px rgb(163, 255, 183), 0 0 100px rgb(163, 255, 183), 0 0 150px rgb(163, 255, 183), 0 0 200px rgb(163, 255, 183);
}

.boton__animacion__2 {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C;
  background-color: #E83E8C;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__2:hover {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C, 0 0 25px #E83E8C, 0 0 50px #E83E8C, 0 0 100px #E83E8C, 0 0 150px #E83E8C, 0 0 200px #E83E8C;
}

.boton__animacion__3 {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf;
  background-color: #2a5fcf;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__3:hover {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf, 0 0 25px #2a5fcf, 0 0 50px #2a5fcf, 0 0 100px #2a5fcf, 0 0 150px #2a5fcf, 0 0 200px #2a5fcf;
}

.boton__animacion__4 {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809;
  background-color: #f88809;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__4:hover {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809, 0 0 25px #f88809, 0 0 50px #f88809, 0 0 100px #f88809, 0 0 150px #f88809, 0 0 200px #f88809;
}

.boton__basico__1 {
  margin: 16px;
  padding: 20px;
  background-color: #6C757D;
}

.boton__basico__2 {
  margin: 16px;
  padding: 20px;
  background-color: #FFC107;
}

.boton__basico__3 {
  margin: 16px;
  padding: 20px;
  background-color: #28A745;
}

.boton__basico__4 {
  margin: 16px;
  padding: 20px;
  background-color: #d9160f;
}

.boton__blanco__1 {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #28A745;
  text-transform: uppercase;
  border-color: #28A745;
  cursor: pointer;
}

.boton__blanco__2 {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #d9160f;
  text-transform: uppercase;
  border-color: #d9160f;
  cursor: pointer;
}

.boton__blanco__3 {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #f88809;
  text-transform: uppercase;
  border-color: #f88809;
  cursor: pointer;
}

.boton__blanco__4 {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #FFFF00;
  text-transform: uppercase;
  border-color: #FFFF00;
  cursor: pointer;
}

.boton__Movimento__Rosa {
  padding: 17px 40px;
  background-color: #E83E8C;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__Rosa:hover {
  line-height: 3px;
  background-color: #E83E8C;
  color: #F1FAEE;
  box-shadow: #46dffa 0 7px 29px 0;
}
.boton__Movimento__Rosa:active {
  line-height: 3px;
  background-color: #E83E8C;
  color: #F1FAEE;
  box-shadow: #46dffa 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON ROJO */
.boton__Movimento__rojo {
  padding: 17px 40px;
  background-color: #d9160f;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__rojo:hover {
  line-height: 3px;
  background-color: #d9160f;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__rojo:active {
  line-height: 3px;
  background-color: #d9160f;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON verdeee*/
.boton__Movimento__verde {
  padding: 17px 40px;
  background-color: #0e791a;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__verde:hover {
  line-height: 3px;
  background-color: #0e791a;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__verde:active {
  line-height: 3px;
  background-color: #0e791a;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON NARAJA*/
.boton__Movimento__naranja {
  padding: 17px 40px;
  background-color: #f88809;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__naranja:hover {
  line-height: 3px;
  background-color: #f88809;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__naranja:active {
  line-height: 3px;
  background-color: #f88809;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

@media (max-width: 768px) {
  .boton__animacion__1 .boton__animacion__2,
  .boton__animacion__3,
  .boton__animacion__4,
  .boton__basico__1,
  .boton__basico__2,
  .boton__basico__3,
  .boton__basico__4,
  .boton__blanco__1,
  .boton__blanco__2,
  .boton__blanco__3,
  .boton__blanco__4,
  .boton__Movimento__Rosa,
  .boton__Movimento__rojo,
  .boton__Movimento__verde,
  .boton__Movimento__naranja {
    flex-direction: column;
    text-align: center;
  }
}
/* Variables de colores para alertas */
.alert {
  padding: 10px 30px;
  margin: 25px auto; /* Márgenes automáticos para centrar */
  max-width: 600px; /* Ancho máximo de la alerta */
=======
main.cards {
>>>>>>> 4634d1779ee2d248f2fc137b8ec1ed6f7b10a490:Home/cards.css
  display: flex;
  padding: 40px;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 8px;
  max-height: 330px;
  max-width: 250px;
  margin-left: 32px;
}

main.cards section.card.Luffy {
  background: linear-gradient(to bottom, #d9160f 50%, #ffffff 50%);
  border: 1px solid #c7374f;
  font-family: "Devil Fruit", fantasy;
  color: #d9160f;
}

main.cards section.card.Zoro {
  background: linear-gradient(to bottom, #0e791a 50%, #ffffff 50%);
  border: 1px solid #28A745;
  font-family: "Devil Fruit", fantasy;
  color: #0e791a;
}

main.cards section.card.Usopp {
  background: linear-gradient(to bottom, #FFFF00 50%, #ffffff 50%);
  border: 1px solid #FFC107;
  font-family: "Devil Fruit", fantasy;
  color: #FFC107;
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .foto-perfil {
  margin-top: 40px;
  width: 50%;
  object-fit: scale-down;
}

main.cards section.card p {
  font-size: 100%;
  margin: 16px 0;
}

main.cards section.card img {
  margin-bottom: 10px;
  width: 120px;
  border-radius: 100%;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
  font-family: "Skull and Cross", sans-serif;
  color: #000;
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
  }
  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }
  main.cards section.card:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=cards.css.map */
