@charset "UTF-8";
.color-box {
  width: 200px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.borde__solido, .dark-container, .rounded-container, .elevated-container, .spaced-container, .pequeno, .mediano, .grande, .extra-grande {
  border: solid 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dotted, .btn, .scroll-btn {
  border: dotted 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__dashed {
  border: dashed 10px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__double {
  border: double 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__groove {
  border: groove 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__ridge {
  border: ridge 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__inset {
  border: inset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__outset {
  border: outset 15px;
  background-color: #ecaacd;
  padding: 20px;
  margin: 20px;
}

.borde__Esquinas_dedondeada, .formulario__basico__2 input, .formulario__basico__2 textarea, .formulario__basico__2 fieldset, .formulario__basico__2 legend, .formulario__basico__2 input[type=checkbox],
.formulario__basico__2 input[type=radio], .formulario__basico__2 input[type=text], .formulario__basico__2 input[type=password], .formulario__basico__2 input[type=email], .formulario__basico__2 select, .formulario__basico__2 option, .boton__cambio__color, .boton__animacion__1, .boton__animacion_1_pequeno, .boton__animacion_1_mediano, .boton__animacion_1_grande, .boton__animacion_1_extra_grande, .boton__animacion__2, .boton__animacion_2_pequeno, .boton__animacion_2_mediano, .boton__animacion_2_grande, .boton__animacion_2_extra_grande, .boton__animacion__3, .boton__animacion_3_pequeno, .boton__animacion_3_mediano, .boton__animacion_3_grande, .boton__animacion_3_extra_grande, .boton__animacion__4, .boton__animacion_4_pequeno, .boton__animacion_4_mediano, .boton__animacion_4_grande, .boton__animacion_4_extra_grande, .boton__basico__1, .boton__basico__1__pequeno, .boton__basico__1__mediano, .boton__basico__1__grande, .boton__basico__1__extra_grande, .boton__basico__2, .boton__basico__2__pequeno, .boton__basico__2__mediano, .boton__basico__2__grande, .boton__basico__2__extra_grande, .boton__basico__3, .boton__basico__3__pequeno, .boton__basico__3__mediano, .boton__basico__3__grande, .boton__basico__3__extra_grande, .boton__basico__4, .boton__basico__4__pequeno, .boton__basico__4__mediano, .boton__basico__4__grande, .boton__basico__4__extra_grande, .boton__blanco__1, .boton__blanco__1_pequño, .boton__blanco__1_mediano, .boton__blanco__1_grande, .boton__blanco__1_extra_grande, .boton__blanco__2, .boton__blanco__2_pequeno, .boton__blanco__2_mediano, .boton__blanco__2_grande, .boton__blanco__2_extra_grande, .boton__blanco__3, .boton__blanco__3_pequeno, .boton__blanco__3_mediano, .boton__blanco__3_grande, .boton__blanco__3_extra_grande, .boton__blanco__4, .boton__blanco__4_pequeno, .boton__blanco__4_mediano, .boton__blanco__4_grande, .boton__blanco__4_extra_grande {
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
  margin: 20px;
}

.borde__Esquinas_dedondeada__3px {
  border-radius: 3px 3px 3px 3px;
  padding: 20px;
  margin: 20px;
}

.borde__none {
  border: none;
  border-color: #ecaacd;
}

/*------------------------------------------------*/
/*                 BORDES REDONDEADOR             */
/*------------------------------------------------*/
.borde__redondeado__50px, .boton__Movimento__Rosa, .boton__Movimento__Rosa__pequeño, .boton__Movimento__Rosa__mediano, .boton__Movimento__Rosa__grande, .boton__Movimento__Rosa__extra_grande, .boton__Movimento__rojo, .boton__Movimento__rojo__pequeño, .boton__Movimento__rojo__mediano, .boton__Movimento__rojo__grande, .boton__Movimento__rojo__extra_grande, .boton__Movimento__verde, .boton__Movimento__verde__pequeño, .boton__Movimento__verde__mediano, .boton__Movimento__verde__grande, .boton__Movimento__verde__extra_grande, .boton__Movimento__naranja, .boton__Movimento__naranja__pequeño, .boton__Movimento__naranja__mediano, .boton__Movimento__naranja__grande, .boton__Movimento__naranja__extra_grande, .container__inicio__secion form button, .container__crear__cuenta form button[type=submit], .formulario__basico__2 .formulario__basico__2, .formulario__basico__2 button {
  border-radius: 50px;
  border: 0;
  border-color: #000;
}

.borde__redondeado__1 {
  border-radius: 25% 10%;
}

.borde__redondeado__2 {
  border-radius: 25% 10%;
}

.borde__redondeado__3 {
  border-radius: 10% 30% 50% 70%;
}

.borde__redondeado__4 {
  border-radius: 10%/50%;
}

.borde__redondeado__5 {
  border-radius: 10px 100px/120px;
}

.borde__redondeado__6 {
  border-radius: 50% 20%/10% 40%;
}

/*------------------------------------------------*/
/*          BORDES CON ESQUINA REDONDEADAS         */
/*------------------------------------------------*/
.borde__redondeado__7 {
  border-end-start-radius: 80px 80px;
}

.borde__redondeado__8 {
  border-end-start-radius: 250px 100px;
  direction: rtl;
}

.borde__redondeado__9 {
  border-end-start-radius: 50%;
  writing-mode: vertical-lr;
}

.borde__redondeado__10 {
  border-end-start-radius: 50%;
  writing-mode: vertical-rl;
  background: linear-gradient(to right, #E83E8C, #8A2BE2);
}

/*------------------------------------------------*/
/*      BORDER CIRCULO                       */
/*------------------------------------------------*/
.borde__circle {
  border-radius: 50px;
  background: linear-gradient(to right, #E83E8C, #8A2BE2);
}

/*------------------------------------------------*/
/*          BORDE REDONDEADOS                     */
/*------------------------------------------------*/
.borde__equna {
  border-radius: 60px/20px;
  background: linear-gradient(to right, #E83E8C, #8A2BE2);
}

.borde__redondeado__15 {
  border-radius: 13em/3em;
  background: linear-gradient(to right, #E83E8C, #8A2BE2);
}

/* Estilos para el borde brillante */
.borde-brillante, .alert-success, .alert-info {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  position: relative;
}

/* Pseudo-elemento para crear el efecto brillante */
.borde-brillante::after, .alert-success::after, .alert-info::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: linear-gradient(to right, #ffffff, #ff00ff, #00ffff, #ffffff);
  z-index: -1;
  border-radius: inherit;
  animation: brillo 2s infinite linear alternate;
}

/* Animación para el efecto de brillo */
@keyframes brillo {
  0% {
    background-position: -500% 0%;
  }
  100% {
    background-position: 500% 0%;
  }
}
.sombra_superior, .dark-container, .btn, .scroll-btn {
  box-shadow: 0px -25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_derecha, .rounded-container, .elevated-container {
  box-shadow: 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_inferior, .formulario__basico__2 form {
  box-shadow: 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_izquierda, .spaced-container {
  box-shadow: -25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px #00eeff, 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px #00eeff, 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__izquierda {
  box-shadow: 0px -25px 20px -20px #4a4f53, -25px 0 20px -20px #2e0555;
}

.sombra__inferior__derecha {
  box-shadow: 0px 25px 20px -20px #00eeff;
}

.todos__lados {
  box-shadow: 0px -25px 20px -20px #4a4f53, 25px 0 20px -20px #4a4f53, 0px 25px 20px -20px #4a4f53, -25px 0 20px -20px #4a4f53;
}

/*----------------------------------------------------------------*/
.Diseño__materiales__1 {
  box-shadow: 0 1px 3px #4a4f53, #4a4f53;
}

.Diseño__materiales__2 {
  box-shadow: 0 3px 6px #4a4f53, 0 3px 6px #4a4f53;
}

.Diseño__materiales__3 {
  box-shadow: 0 10px 20px #4a4f53, 0 6px 6px #4a4f53;
}

.Diseño__materiales__4, .pequeno, .mediano, .grande, .extra-grande {
  box-shadow: 0 14px 28px #4a4f53, 0 10px 10px #4a4f53;
}

.Diseño__materiales__5 {
  box-shadow: 0 19px 38px #4a4f53, 0 15px 12px #4a4f53;
}

.Diseño__materiales__6 {
  box-shadow: 0 29px 52px #4a4f53, 0 25px 16px #4a4f53;
}

.Diseño__materiales__7 {
  box-shadow: 0 45px 65px #4a4f53, 0 35px 22px #4a4f53;
}

.Diseño__materiales__8, .container__inicio__secion form, .container__crear__cuenta form, .container__form__contatos form {
  box-shadow: 0 60px 80px #4a4f53, 0 45px 26px #4a4f53;
}

.Diseño__materiales__9 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53;
}

.Diseño__materiales__10 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53, 0 16px 16px #4a4f53;
}

.Diseño__materiales__11 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53;
}

.Diseño__materiales__12 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53, 0 16px 16px #4a4f53, 0 32px 32px #4a4f53;
}

.Diseño__materiales__13 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53;
}

.Diseño__materiales__14 {
  box-shadow: 0px 9px 30px #4a4f53;
}

.Diseño__materiales__15 {
  box-shadow: 0 1px 2px #4a4f53, 0 2px 4px #4a4f53, 0 4px 8px #4a4f53, 0 8px 16px #4a4f53, 0 16px 32px #4a4f53, 0 32px 64px #4a4f53;
}

.Diseño__materiales__16 {
  box-shadow: 0 20px 10px -20px #4a4f53 inset;
}

.Diseño__materiales__17 {
  box-shadow: -20px 0 10px -20px #4a4f53 inset;
}

.Diseño__materiales__18 {
  box-shadow: 0 -20px 10px -20px #4a4f53 inset;
}

.Diseño__materiales__19 {
  box-shadow: 20px 0 10px -20px #4a4f53 inset;
}

.Diseño__materiales__20 {
  box-shadow: 0 0 10px 0 #4a4f53 inset;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
  color: #1D3557;
}

.title {
  font-family: "Blackbeard", cursive;
  font-size: 2.5em;
  color: #9e0631;
}

.subtitle {
  font-family: "Marine", sans-serif;
  font-size: 1.8em;
  color: #A8DADC;
}

.paragraph {
  font-family: "Times New Roman", Times, serif;
  font-size: 1em;
}

.quote, .boton__blanco__1, .boton__blanco__1_pequño, .boton__blanco__1_mediano, .boton__blanco__1_grande, .boton__blanco__1_extra_grande, .boton__blanco__2, .boton__blanco__2_pequeno, .boton__blanco__2_mediano, .boton__blanco__2_grande, .boton__blanco__2_extra_grande, .boton__blanco__3, .boton__blanco__3_pequeno, .boton__blanco__3_mediano, .boton__blanco__3_grande, .boton__blanco__3_extra_grande, .boton__blanco__4, .boton__blanco__4_pequeno, .boton__blanco__4_mediano, .boton__blanco__4_grande, .boton__blanco__4_extra_grande {
  font-family: "Devil Fruit", fantasy;
  font-size: 1.2em;
  color: #457B9D;
}

.small-caps, .navbar-top {
  font-variant: small-caps;
}

.skull-heading {
  font-family: "Skull and Cross", sans-serif;
  font-size: 3em;
  color: #A8DADC;
}

.ancient-text {
  font-family: "Ancient Text", serif;
  font-size: 1.2em;
  color: #F1FAEE;
}

.treasure-map {
  font-family: "Treasure Map", cursive;
  font-size: 1.5em;
  color: #FFFF00;
}

/* Variables de colores para alertas */
.icono__candado {
  background-image: url("../../Home/Iconos_img/candado.svg");
  display: inline-block;
  width: 24px;
  height: 24 px;
  background-size: contain;
}

.icono__ojo {
  background-image: url("../../Home/Iconos_img/ojo.svg");
  display: inline-block;
  width: 24px;
  height: 24 px;
  background-size: contain;
}

.alert {
  padding: 10px 30px;
  margin: 25px auto; /* Márgenes automáticos para centrar */
  max-width: 600px; /* Ancho máximo de la alerta */
  display: flex;
  align-items: center;
  text-align: center;
}

.alert-success {
  background: #0e791a;
  font-family: "Devil Fruit", fantasy;
  text-align: center;
}

.alert-info {
  background: #1628c9;
  color: #4a4f53;
  text-decoration: underline;
  background: transparent;
  text-align: center;
}

.alert-warning {
  background-color: #FFFF00;
  color: #212529;
  text-align: center;
}

.alert-danger {
  background-color: #d9160f;
  color: white;
  text-align: center;
}

.alert-icon {
  margin-left: 10px;
  width: 100px; /* Tamaño del icono */
  height: 100px; /* Tamaño del icono */
  max-width: 20px; /* Ancho máximo del icono */
  max-height: 20px; /* Altura máxima del icono */
}

.alert-success .alert-icon {
  background-image: url("../IMGs/exito.ico");
}

.alert-info .alert-icon {
  background-image: url("info.png");
}

.alert-warning .alert-icon {
  background-image: url("warning.png");
}

.alert-danger .alert-icon {
  background-image: url("error.png");
}

@media (max-width: 968px) {
  .alert {
    flex-direction: column; /* Cambiar la dirección de los elementos en pantallas pequeñas */
    text-align: center; /* Centrar el texto en pantallas pequeñas */
  }
  .alert-icon {
    margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
    margin-bottom: 10px; /* Añadir espacio entre el icono y el texto en pantallas pequeñas */
    width: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    height: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    max-width: 50px; /* Ancho máximo del icono en pantallas pequeñas */
    max-height: 50px; /* Altura máxima del icono en pantallas pequeñas */
  }
}
.color-box {
  width: 200px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sombra_superior, .btn, .scroll-btn {
  box-shadow: 0px -25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_derecha {
  box-shadow: 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_inferior, .formulario__basico__2 form {
  box-shadow: 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra_izquierda {
  box-shadow: -25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px #00eeff, 25px 0 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px #00eeff, 0px 25px 20px -20px #00eeff;
  margin: 20px;
  background-color: #b3b2b4;
}

.sombra__superior__izquierda {
  box-shadow: 0px -25px 20px -20px #4a4f53, -25px 0 20px -20px #2e0555;
}

.sombra__inferior__derecha {
  box-shadow: 0px 25px 20px -20px #00eeff;
}

.todos__lados {
  box-shadow: 0px -25px 20px -20px #4a4f53, 25px 0 20px -20px #4a4f53, 0px 25px 20px -20px #4a4f53, -25px 0 20px -20px #4a4f53;
}

/*----------------------------------------------------------------*/
.Diseño__materiales__1 {
  box-shadow: 0 1px 3px #4a4f53, #4a4f53;
}

.Diseño__materiales__2 {
  box-shadow: 0 3px 6px #4a4f53, 0 3px 6px #4a4f53;
}

.Diseño__materiales__3 {
  box-shadow: 0 10px 20px #4a4f53, 0 6px 6px #4a4f53;
}

.Diseño__materiales__4 {
  box-shadow: 0 14px 28px #4a4f53, 0 10px 10px #4a4f53;
}

.Diseño__materiales__5 {
  box-shadow: 0 19px 38px #4a4f53, 0 15px 12px #4a4f53;
}

.Diseño__materiales__6 {
  box-shadow: 0 29px 52px #4a4f53, 0 25px 16px #4a4f53;
}

.Diseño__materiales__7 {
  box-shadow: 0 45px 65px #4a4f53, 0 35px 22px #4a4f53;
}

.Diseño__materiales__8, .container__inicio__secion form, .container__crear__cuenta form, .container__form__contatos form {
  box-shadow: 0 60px 80px #4a4f53, 0 45px 26px #4a4f53;
}

.Diseño__materiales__9 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53;
}

.Diseño__materiales__10 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53, 0 16px 16px #4a4f53;
}

.Diseño__materiales__11 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53;
}

.Diseño__materiales__12 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53, 0 16px 16px #4a4f53, 0 32px 32px #4a4f53;
}

.Diseño__materiales__13 {
  box-shadow: 0 1px 1px #4a4f53, 0 2px 2px #4a4f53, 0 4px 4px #4a4f53, 0 8px 8px #4a4f53;
}

.Diseño__materiales__14 {
  box-shadow: 0px 9px 30px #4a4f53;
}

.Diseño__materiales__15 {
  box-shadow: 0 1px 2px #4a4f53, 0 2px 4px #4a4f53, 0 4px 8px #4a4f53, 0 8px 16px #4a4f53, 0 16px 32px #4a4f53, 0 32px 64px #4a4f53;
}

.Diseño__materiales__16 {
  box-shadow: 0 20px 10px -20px #4a4f53 inset;
}

.Diseño__materiales__17 {
  box-shadow: -20px 0 10px -20px #4a4f53 inset;
}

.Diseño__materiales__18 {
  box-shadow: 0 -20px 10px -20px #4a4f53 inset;
}

.Diseño__materiales__19 {
  box-shadow: 20px 0 10px -20px #4a4f53 inset;
}

.Diseño__materiales__20 {
  box-shadow: 0 0 10px 0 #4a4f53 inset;
}

.btn, .scroll-btn {
  background-color: rosybrown;
  padding: 10px;
  width: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.boton__cambio__color {
  margin: 16px;
  padding: 20px;
  background-color: #28A745;
  cursor: pointer;
  font-family: "Treasure Map", cursive;
}

.boton__cambio__color:hover {
  background-color: #0e791a;
}

.boton__animacion__1, .boton__animacion_1_extra_grande, .boton__animacion_1_grande, .boton__animacion_1_mediano, .boton__animacion_1_pequeno {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183);
  background-color: rgb(163, 255, 183);
  margin: 16px;
  padding: 20px;
  justify-content: center;
  cursor: pointer;
  cursor: pointer;
}

.boton__animacion__1:hover, .boton__animacion_1_extra_grande:hover, .boton__animacion_1_grande:hover, .boton__animacion_1_mediano:hover, .boton__animacion_1_pequeno:hover {
  box-shadow: 0 0 5px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 25px rgb(163, 255, 183), 0 0 50px rgb(163, 255, 183), 0 0 100px rgb(163, 255, 183), 0 0 150px rgb(163, 255, 183), 0 0 200px rgb(163, 255, 183);
}

.boton__animacion__2, .boton__animacion_2_extra_grande, .boton__animacion_2_grande, .boton__animacion_2_mediano, .boton__animacion_2_pequeno {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C;
  background-color: #E83E8C;
  margin: 16px;
  padding: 20px;
  justify-content: center;
  cursor: pointer;
  cursor: pointer;
}

.boton__animacion__2:hover, .boton__animacion_2_extra_grande:hover, .boton__animacion_2_grande:hover, .boton__animacion_2_mediano:hover, .boton__animacion_2_pequeno:hover {
  box-shadow: 0 0 5px #E83E8C, 0 0 25px #E83E8C, 0 0 25px #E83E8C, 0 0 50px #E83E8C, 0 0 100px #E83E8C, 0 0 150px #E83E8C, 0 0 200px #E83E8C;
}

.boton__animacion__3, .boton__animacion_3_extra_grande, .boton__animacion_3_grande, .boton__animacion_3_mediano, .boton__animacion_3_pequeno {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf;
  background-color: #2a5fcf;
  margin: 16px;
  padding: 20px;
  justify-content: center;
  cursor: pointer;
  cursor: pointer;
}

.boton__animacion__3:hover, .boton__animacion_3_extra_grande:hover, .boton__animacion_3_grande:hover, .boton__animacion_3_mediano:hover, .boton__animacion_3_pequeno:hover {
  box-shadow: 0 0 5px #2a5fcf, 0 0 25px #2a5fcf, 0 0 25px #2a5fcf, 0 0 50px #2a5fcf, 0 0 100px #2a5fcf, 0 0 150px #2a5fcf, 0 0 200px #2a5fcf;
}

.boton__animacion__4, .boton__animacion_4_extra_grande, .boton__animacion_4_grande, .boton__animacion_4_mediano, .boton__animacion_4_pequeno {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809;
  background-color: #f88809;
  margin: 16px;
  padding: 20px;
  justify-content: center;
}

.boton__animacion__4:hover, .boton__animacion_4_extra_grande:hover, .boton__animacion_4_grande:hover, .boton__animacion_4_mediano:hover, .boton__animacion_4_pequeno:hover {
  box-shadow: 0 0 5px #f88809, 0 0 25px #f88809, 0 0 25px #f88809, 0 0 50px #f88809, 0 0 100px #f88809, 0 0 150px #f88809, 0 0 200px #f88809;
}

.boton__basico__1, .boton__basico__1__extra_grande, .boton__basico__1__grande, .boton__basico__1__mediano, .boton__basico__1__pequeno {
  margin: 16px;
  padding: 20px;
  background-color: #6C757D;
  cursor: pointer;
}

.boton__basico__2, .boton__basico__2__extra_grande, .boton__basico__2__grande, .boton__basico__2__mediano, .boton__basico__2__pequeno {
  margin: 16px;
  padding: 20px;
  background-color: #FFC107;
  cursor: pointer;
}

.boton__basico__3, .boton__basico__3__extra_grande, .boton__basico__3__grande, .boton__basico__3__mediano, .boton__basico__3__pequeno {
  margin: 16px;
  padding: 20px;
  background-color: #28A745;
  cursor: pointer;
}

.boton__basico__4, .boton__basico__4__extra_grande, .boton__basico__4__grande, .boton__basico__4__mediano, .boton__basico__4__pequeno {
  margin: 16px;
  padding: 20px;
  background-color: #d9160f;
  cursor: pointer;
}

.boton__blanco__1, .boton__blanco__1_extra_grande, .boton__blanco__1_grande, .boton__blanco__1_mediano, .boton__blanco__1_pequño {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #28A745;
  text-transform: uppercase;
  border-color: #28A745;
  cursor: pointer;
}

.boton__blanco__2, .boton__blanco__2_extra_grande, .boton__blanco__2_grande, .boton__blanco__2_mediano, .boton__blanco__2_pequeno {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #d9160f;
  text-transform: uppercase;
  border-color: #d9160f;
  cursor: pointer;
}

.boton__blanco__3, .boton__blanco__3_extra_grande, .boton__blanco__3_grande, .boton__blanco__3_mediano, .boton__blanco__3_pequeno {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #f88809;
  text-transform: uppercase;
  border-color: #f88809;
  cursor: pointer;
}

.boton__blanco__4, .boton__blanco__4_extra_grande, .boton__blanco__4_grande, .boton__blanco__4_mediano, .boton__blanco__4_pequeno {
  margin: 16px;
  padding: 10px;
  background-color: #F1FAEE;
  color: #FFFF00;
  text-transform: uppercase;
  border-color: #FFFF00;
  cursor: pointer;
}

.boton__Movimento__Rosa, .formulario__basico__2 .formulario__basico__2, .formulario__basico__2 button, .boton__Movimento__Rosa__extra_grande, .boton__Movimento__Rosa__grande, .boton__Movimento__Rosa__mediano, .boton__Movimento__Rosa__pequeño {
  padding: 17px 40px;
  background-color: #E83E8C;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__Rosa:hover, .formulario__basico__2 .formulario__basico__2:hover, .formulario__basico__2 button:hover, .boton__Movimento__Rosa__extra_grande:hover, .boton__Movimento__Rosa__grande:hover, .boton__Movimento__Rosa__mediano:hover, .boton__Movimento__Rosa__pequeño:hover {
  line-height: 3px;
  background-color: #E83E8C;
  color: #F1FAEE;
  box-shadow: #46dffa 0 7px 29px 0;
}
.boton__Movimento__Rosa:active, .formulario__basico__2 .formulario__basico__2:active, .formulario__basico__2 button:active, .boton__Movimento__Rosa__extra_grande:active, .boton__Movimento__Rosa__grande:active, .boton__Movimento__Rosa__mediano:active, .boton__Movimento__Rosa__pequeño:active {
  line-height: 3px;
  background-color: #E83E8C;
  color: #F1FAEE;
  box-shadow: #46dffa 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON ROJO */
.boton__Movimento__rojo, .boton__Movimento__rojo__extra_grande, .boton__Movimento__rojo__grande, .boton__Movimento__rojo__mediano, .boton__Movimento__rojo__pequeño {
  padding: 17px 40px;
  background-color: #d9160f;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__rojo:hover, .boton__Movimento__rojo__extra_grande:hover, .boton__Movimento__rojo__grande:hover, .boton__Movimento__rojo__mediano:hover, .boton__Movimento__rojo__pequeño:hover {
  line-height: 3px;
  background-color: #d9160f;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__rojo:active, .boton__Movimento__rojo__extra_grande:active, .boton__Movimento__rojo__grande:active, .boton__Movimento__rojo__mediano:active, .boton__Movimento__rojo__pequeño:active {
  line-height: 3px;
  background-color: #d9160f;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON verdeee*/
.boton__Movimento__verde, .boton__Movimento__verde__extra_grande, .boton__Movimento__verde__grande, .boton__Movimento__verde__mediano, .boton__Movimento__verde__pequeño, .container__inicio__secion form button, .container__crear__cuenta form button[type=submit] {
  padding: 17px 40px;
  background-color: #0e791a;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__verde:hover, .boton__Movimento__verde__extra_grande:hover, .boton__Movimento__verde__grande:hover, .boton__Movimento__verde__mediano:hover, .boton__Movimento__verde__pequeño:hover, .container__inicio__secion form button:hover, .container__crear__cuenta form button[type=submit]:hover {
  line-height: 3px;
  background-color: #0e791a;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__verde:active, .boton__Movimento__verde__extra_grande:active, .boton__Movimento__verde__grande:active, .boton__Movimento__verde__mediano:active, .boton__Movimento__verde__pequeño:active, .container__inicio__secion form button:active, .container__crear__cuenta form button[type=submit]:active {
  line-height: 3px;
  background-color: #0e791a;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

/*BONTON NARAJA*/
.boton__Movimento__naranja, .boton__Movimento__naranja__extra_grande, .boton__Movimento__naranja__grande, .boton__Movimento__naranja__mediano, .boton__Movimento__naranja__pequeño {
  padding: 17px 40px;
  background-color: #f88809;
  box-shadow: #000 0 0 8px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.05s ease;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Ancient Text", serif;
  padding: 20px;
}
.boton__Movimento__naranja:hover, .boton__Movimento__naranja__extra_grande:hover, .boton__Movimento__naranja__grande:hover, .boton__Movimento__naranja__mediano:hover, .boton__Movimento__naranja__pequeño:hover {
  line-height: 3px;
  background-color: #f88809;
  color: #F1FAEE;
  box-shadow: #000 0 7px 29px 0;
}
.boton__Movimento__naranja:active, .boton__Movimento__naranja__extra_grande:active, .boton__Movimento__naranja__grande:active, .boton__Movimento__naranja__mediano:active, .boton__Movimento__naranja__pequeño:active {
  line-height: 3px;
  background-color: #f88809;
  color: #F1FAEE;
  box-shadow: #000 0 0 0 0;
  transform: translate(18px);
  transition: 100ms;
}

.boton__pequeno, .boton__animacion_1_pequeno, .boton__animacion_2_pequeno, .boton__animacion_3_pequeno, .boton__animacion_4_pequeno, .boton__basico__1__pequeno, .boton__basico__2__pequeno, .boton__basico__3__pequeno, .boton__basico__4__pequeno, .boton__blanco__1_pequño, .boton__blanco__2_pequeno, .boton__blanco__3_pequeno, .boton__blanco__4_pequeno, .boton__Movimento__Rosa__pequeño, .boton__Movimento__rojo__pequeño, .boton__Movimento__verde__pequeño, .container__inicio__secion form button, .container__crear__cuenta form button[type=submit], .boton__Movimento__naranja__pequeño {
  padding: 10px;
}

.boton__mediano, .boton__animacion_1_mediano, .boton__animacion_2_mediano, .boton__animacion_3_mediano, .boton__animacion_4_mediano, .boton__basico__1__mediano, .boton__basico__2__mediano, .boton__basico__3__mediano, .boton__basico__4__mediano, .boton__blanco__1_mediano, .boton__blanco__2_mediano, .boton__blanco__3_mediano, .boton__blanco__4_mediano, .boton__Movimento__Rosa__mediano, .boton__Movimento__rojo__mediano, .boton__Movimento__verde__mediano, .boton__Movimento__naranja__mediano {
  padding: 20px;
}

.boton__grande, .boton__animacion_1_grande, .boton__animacion_2_grande, .boton__animacion_3_grande, .boton__animacion_4_grande, .boton__basico__1__grande, .boton__basico__2__grande, .boton__basico__3__grande, .boton__basico__4__grande, .boton__blanco__1_grande, .boton__blanco__2_grande, .boton__blanco__3_grande, .boton__blanco__4_grande, .boton__Movimento__Rosa__grande, .boton__Movimento__rojo__grande, .boton__Movimento__verde__grande, .boton__Movimento__naranja__grande {
  padding: 30px;
}

.boton__extra_grande, .boton__animacion_1_extra_grande, .boton__animacion_2_extra_grande, .boton__animacion_3_extra_grande, .boton__animacion_4_extra_grande, .boton__basico__1__extra_grande, .boton__basico__2__extra_grande, .boton__basico__3__extra_grande, .boton__basico__4__extra_grande, .boton__blanco__1_extra_grande, .boton__blanco__2_extra_grande, .boton__blanco__3_extra_grande, .boton__blanco__4_extra_grande, .boton__Movimento__Rosa__extra_grande, .boton__Movimento__rojo__extra_grande, .boton__Movimento__verde__extra_grande, .boton__Movimento__naranja__extra_grande {
  padding: 40px;
}

@media (max-width: 768px) {
  .boton__animacion__1 .boton__animacion__2, .boton__animacion_1_pequeno .boton__animacion__2, .boton__animacion_1_mediano .boton__animacion__2, .boton__animacion_1_grande .boton__animacion__2, .boton__animacion_1_extra_grande .boton__animacion__2, .boton__animacion__1 .boton__animacion_2_pequeno, .boton__animacion_1_pequeno .boton__animacion_2_pequeno, .boton__animacion_1_mediano .boton__animacion_2_pequeno, .boton__animacion_1_grande .boton__animacion_2_pequeno, .boton__animacion_1_extra_grande .boton__animacion_2_pequeno, .boton__animacion__1 .boton__animacion_2_mediano, .boton__animacion_1_pequeno .boton__animacion_2_mediano, .boton__animacion_1_mediano .boton__animacion_2_mediano, .boton__animacion_1_grande .boton__animacion_2_mediano, .boton__animacion_1_extra_grande .boton__animacion_2_mediano, .boton__animacion__1 .boton__animacion_2_grande, .boton__animacion_1_pequeno .boton__animacion_2_grande, .boton__animacion_1_mediano .boton__animacion_2_grande, .boton__animacion_1_grande .boton__animacion_2_grande, .boton__animacion_1_extra_grande .boton__animacion_2_grande, .boton__animacion__1 .boton__animacion_2_extra_grande, .boton__animacion_1_pequeno .boton__animacion_2_extra_grande, .boton__animacion_1_mediano .boton__animacion_2_extra_grande, .boton__animacion_1_grande .boton__animacion_2_extra_grande, .boton__animacion_1_extra_grande .boton__animacion_2_extra_grande,
  .boton__animacion__3,
  .boton__animacion_3_pequeno,
  .boton__animacion_3_mediano,
  .boton__animacion_3_grande,
  .boton__animacion_3_extra_grande,
  .boton__animacion__4,
  .boton__animacion_4_pequeno,
  .boton__animacion_4_mediano,
  .boton__animacion_4_grande,
  .boton__animacion_4_extra_grande,
  .boton__basico__1,
  .boton__basico__1__pequeno,
  .boton__basico__1__mediano,
  .boton__basico__1__grande,
  .boton__basico__1__extra_grande,
  .boton__basico__2,
  .boton__basico__2__pequeno,
  .boton__basico__2__mediano,
  .boton__basico__2__grande,
  .boton__basico__2__extra_grande,
  .boton__basico__3,
  .boton__basico__3__pequeno,
  .boton__basico__3__mediano,
  .boton__basico__3__grande,
  .boton__basico__3__extra_grande,
  .boton__basico__4,
  .boton__basico__4__pequeno,
  .boton__basico__4__mediano,
  .boton__basico__4__grande,
  .boton__basico__4__extra_grande,
  .boton__blanco__1,
  .boton__blanco__1_pequño,
  .boton__blanco__1_mediano,
  .boton__blanco__1_grande,
  .boton__blanco__1_extra_grande,
  .boton__blanco__2,
  .boton__blanco__2_pequeno,
  .boton__blanco__2_mediano,
  .boton__blanco__2_grande,
  .boton__blanco__2_extra_grande,
  .boton__blanco__3,
  .boton__blanco__3_pequeno,
  .boton__blanco__3_mediano,
  .boton__blanco__3_grande,
  .boton__blanco__3_extra_grande,
  .boton__blanco__4,
  .boton__blanco__4_pequeno,
  .boton__blanco__4_mediano,
  .boton__blanco__4_grande,
  .boton__blanco__4_extra_grande,
  .boton__Movimento__Rosa,
  .formulario__basico__2 .formulario__basico__2,
  .formulario__basico__2 button,
  .boton__Movimento__Rosa__pequeño,
  .boton__Movimento__Rosa__mediano,
  .boton__Movimento__Rosa__grande,
  .boton__Movimento__Rosa__extra_grande,
  .boton__Movimento__rojo,
  .boton__Movimento__rojo__pequeño,
  .boton__Movimento__rojo__mediano,
  .boton__Movimento__rojo__grande,
  .boton__Movimento__rojo__extra_grande,
  .boton__Movimento__verde,
  .boton__Movimento__verde__pequeño,
  .container__inicio__secion form button,
  .container__crear__cuenta form button[type=submit],
  .boton__Movimento__verde__mediano,
  .boton__Movimento__verde__grande,
  .boton__Movimento__verde__extra_grande,
  .boton__Movimento__naranja,
  .boton__Movimento__naranja__pequeño,
  .boton__Movimento__naranja__mediano,
  .boton__Movimento__naranja__grande,
  .boton__Movimento__naranja__extra_grande {
    flex-direction: column;
    text-align: center;
  }
}
.carousel {
  position: relative;
}

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}
.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50%/100% 100%;
}

.carousel-control-prev-icon {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='8' height='8' viewBox='0 0 8 8'><path d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/></svg>"));
}

.carousel-control-next-icon {
  background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#ffffff' width='8' height='8' viewBox='0 0 8 8'><path d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/></svg>"));
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
.carousel-indicators li {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #ffffff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}
.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 992px) {
  #header-carousel,
  .page-header {
    margin-top: -42px;
  }
}
.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h4 {
    font-size: 18px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
}
.grid__justyfy__content__center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  justify-items: center; /* Alineación horizontal centrada */
  align-items: center; /* Alineación vertical centrada */
}

.alinar__unica__fila__centrado {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alineación vertical centrada */
  justify-items: center; /* Alineación horizontal centrada */
  justify-content: space-between;
  gap: 16px;
}

.container__inicio__secion {
  font-family: "Devil Fruit", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: linear-gradient(to right, #E83E8C, #8A2BE2);
}

.container__inicio__secion form {
  width: 300px;
  padding: 20px;
  background: linear-gradient(to right, #6581fa, #33d369);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.container__inicio__secion form h2 {
  margin-bottom: 20px;
}

.container__inicio__secion form .form__group {
  margin-bottom: 20px;
}

.container__inicio__secion form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.container__inicio__secion form .input__with__icon {
  position: relative;
}

.container__inicio__secion form input[type=email],
.container__inicio__secion form input[type=password] {
  width: 100%;
  padding: 10px;
  border: 2px solid #0e791a;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 30px;
}

.container__inicio__secion form .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}

.container__inicio__secion form .email-icon {
  background-image: url("../../Home/Iconos_img/gmail.svg");
}

.container__inicio__secion form .password__icon {
  background-image: url("../../Home/Iconos_img/candado.svg");
}

.container__inicio__secion form button:hover {
  background-color: #d306d3;
}

.formulario__basico__2 {
  max-width: 100%;
  padding: 20px;
  margin: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  justify-items: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  margin-top: 20x;
  height: 110vh;
  margin-top: 20px;
  font-family: "Devil Fruit", fantasy;
}
.formulario__basico__2 form {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #b3b2b4;
  font-size: large;
}
.formulario__basico__2 label {
  color: #000;
  font-family: "Blackbeard", cursive;
  margin: 16px;
  display: block;
  text-align: left;
  max-width: 90%;
  width: 100%;
  margin-bottom: 5px;
}
.formulario__basico__2 input {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
}
.formulario__basico__2 textarea {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
}
.formulario__basico__2 fieldset {
  max-width: 90%;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
  justify-content: start;
}
.formulario__basico__2 legend {
  border-radius: 10px;
  border-color: rgb(163, 255, 183);
  font-family: "Marine", sans-serif;
  margin: 10px;
}
.formulario__basico__2 input[type=checkbox],
.formulario__basico__2 input[type=radio] {
  max-width: 90%;
  width: 100%;
  font-family: "Marine", sans-serif;
  margin-right: 0.2rem;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: start;
}
.formulario__basico__2 input[type=text] {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
  font-family: "Marine", sans-serif;
}
.formulario__basico__2 input[type=password] {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
  font: password; /* Ocult text*/
  font-family: "Marine", sans-serif;
}
.formulario__basico__2 input[type=email] {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
  font-family: "Marine", sans-serif;
}
.formulario__basico__2 .formulario__basico__2, .formulario__basico__2 button {
  grid-template-rows: 2;
  font-family: "Devil Fruit", fantasy;
}
.formulario__basico__2 select {
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
  appearance: none;
  font-size: 16px;
}
.formulario__basico__2 option {
  font-family: "Marine", sans-serif;
  background-color: #ecaacd;
  max-width: 90%;
  width: 100%;
  color: #f88809;
  padding: 18px;
  height: 10px;
}
.formulario__basico__2 option:hover {
  background-color: #094b10;
}

.container__crear__cuenta {
  font-family: "Devil Fruit", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: linear-gradient(to right, #E83E8C, #8A2BE2);
}

.container__crear__cuenta form {
  width: 300px;
  padding: 20px;
  background: linear-gradient(to right, #6581fa, #33d369);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.container__crear__cuenta form h2 {
  margin-bottom: 20px;
}

.container__crear__cuenta form .form__group {
  margin-bottom: 20px;
}

.container__crear__cuenta form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.container__crear__cuenta form .input__with__icon {
  position: relative;
}

.container__crear__cuenta form input[type=text],
.container__crear__cuenta form input[type=tel],
.container__crear__cuenta form input[type=email],
.container__crear__cuenta form input[type=password] {
  font-family: "Devil Fruit", fantasy;
  width: 100%;
  padding: 10px;
  border: 2px solid #0e791a;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 30px;
}

.container__crear__cuenta form .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}

.container__crear__cuenta form .id__icon {
  background-image: url("../../Home/Iconos_img/id.svg");
}

.container__crear__cuenta form .nombre__icon {
  background-image: url("../../Home/Iconos_img/usuario.svg");
}

.container__crear__cuenta form .direccion__icon {
  background-image: url("../../Home/Iconos_img/ubicacion.svg");
}

.container__crear__cuenta form .telefono__icon {
  background-image: url("../../Home/Iconos_img/telefono..svg");
}

.container__crear__cuenta form .email__icon {
  background-image: url("../../Home/Iconos_img/gmail.svg");
}

.container__crear__cuenta form .nombre__usuario__icon {
  background-image: url("../../Home/Iconos_img/usuario.svg");
}

.container__crear__cuenta form .password__icon {
  background-image: url("../../Home/Iconos_img/candado.svg");
}

.container__crear__cuenta form button[type=submit] {
  font-family: "Devil Fruit", fantasy;
}

.container__crear__cuenta form button[type=submit]:hover {
  background-color: #d306d3;
}

.container__form__contatos {
  font-family: "Devil Fruit", fantasy;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  height: 120vh;
  background-color: linear-gradient(to right, #E83E8C, #8A2BE2);
  margin: 20px auto;
}
.container__form__contatos form {
  width: 400px;
  padding: 20px;
  background: linear-gradient(to right, #6581fa, #33d369);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 20px auto;
}
.container__form__contatos form h2 {
  margin-bottom: 20px;
}
.container__form__contatos form .form__group {
  margin-bottom: 20px;
}
.container__form__contatos form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}
.container__form__contatos form input[type=text],
.container__form__contatos form input[type=email],
.container__form__contatos form input[type=tel],
.container__form__contatos form input[type=file],
.container__form__contatos form textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #0e791a;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 30px;
}
.container__form__contatos form .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-size: cover;
}
.container__form__contatos form .email-icon {
  background-image: url("../../Home/Iconos_img/gmail.svg");
}
.container__form__contatos form .password__icon {
  background-image: url("../../Home/Iconos_img/candado.svg");
}
.container__form__contatos form button {
  width: 100%;
  padding: 10px;
  background-color: #0e791a;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.container__form__contatos form button:hover {
  background-color: #f88809;
}

@media (max-width: 768px) {
  .formulario__basico__2 form,
  label,
  input,
  button,
  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=file],
  textarea {
    width: 100%;
    margin-right: 0;
  }
}
@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.scroll-btn {
  background-color: #9e0631;
  color: #F1FAEE;
}
.scroll-btn:hover {
  background-color: #6d0422;
}
.scroll-btn.animate {
  animation: scrollAnimation 1s infinite;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpX {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated, .navbar-side {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}

.animated2 {
  opacity: 0;
  animation: fadeInUpX 1s ease forwards;
}

header {
  background-color: #14213D;
  color: #ecaacd;
  padding: 10px;
}

/* Estilos para la barra de navegación superior */
.navbar-top {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #14213D; /* Color de fondo */
  color: #ecaacd; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  z-index: 1000;
  transition: margin-left 0.3s ease; /* Ajuste adicional */
  align-items: center;
  justify-content: space-evenly;
  text-align: center; /* Centrar el texto */
}

.navbar-top .nav-item {
  align-items: center;
  padding: auto; /* Espaciado entre elementos */
  font-weight: bold; /* Negrita */
}
.navbar-top .nav-item--active {
  text-decoration: underline;
}
.navbar-top .nav-item:hover {
  color: #FFFF00;
}

/* Estilos para la barra Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #14213D;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown .dropdown-content a {
  color: #FFD700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown .dropdown-content a:hover {
  background-color: #c7374f;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos para la barra de navegación corta en el Main*/
.navbar-side {
  background: linear-gradient(to right, #ff0000, #0000ff); /* Color de fondo */
  color: #ecaacd; /* Color del texto */
  width: 40%; /* Ancho de la barra lateral */
  margin: 0 auto; /* Centrar horizontalmente */
  text-align: center;
}

.navbar-side .nav-item {
  padding: 10px; /* Espaciado interno */
}
.navbar-side .nav-item--active {
  text-decoration: underline;
}
.navbar-side .nav-item:hover {
  color: #FFFF00;
}

/* Estilos compartidos para los elementos de navegación */
.nav-item {
  display: inline-block; /* Mostrar en línea */
  text-decoration: none; /* Quitar subrayado del texto */
  color: inherit; /* Heredar color del texto */
}

/* Estilo para la Barra Lateral */
.sidebar {
  position: fixed;
  font-family: "Blackbeard", cursive;
  margin-top: 50px;
  padding: 20px;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background-color: #14213D;
  transition: left 0.3s ease;
  z-index: 999;
  color: #ecaacd;
  overflow-y: auto; /* Permite desplazamiento vertical */
  /*@extend .animated2;*/
}

.sidebar.open {
  left: 0;
}

/* Estilos para los enlaces del Menú Lateral */
.sidebar-link {
  display: block;
  padding: 10px 0;
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar-superior {
  display: block;
  padding: 1px 0;
  margin-left: 0;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

/* Estilos para los enlaces del menú lateral al pasar el ratón */
.sidebar-link:hover {
  background-color: #d9160f;
  text-align: center;
}

/* Personalización del scrollbar */
.sidebar::-webkit-scrollbar {
  width: 7px;
}

/* Track (barra del scrollbar) */
.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle (cursor del scrollbar) */
.sidebar::-webkit-scrollbar-thumb {
  background: #FD7E14;
}

/* Handle on hover (cursor del scrollbar al pasar el ratón) */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #FFFF00;
}

main {
  margin-left: 0; /* Ajuste adicional */
  margin-top: 105px; /* Ajuste adicional */
  padding: 0px;
  transition: margin-left 0.3s ease; /* Ajuste adicional */
  background-color: transparent;
}

main.sidebar-open {
  margin-left: 250px; /* Ajuste adicional */
}

main.sidebar-open .navbar-top {
  margin-left: 250px; /* Ajuste adicional */
}

/* Media query para ajustes responsivos */
/* @media (max-width: 1005px) {
    .navbar-top {
        display: block;
        margin: 10px 0;
    }
    .navbar-top {
      display: none;/* Ancho completo en dispositivos pequeños 
      }

    .navbar-side {
       display: flex;/* Ocultar barra de navegación superior en dispositivos pequeños 

    }
    .sidebar {
      display: none; /* Ocultar barra de navegación superior en dispositivos pequeños 
    }

    .navbar-side .nav-item {
      display: block; /* Mostrar elementos uno debajo del otro en dispositivos pequeños 
      margin: 10px 0; /* Espaciado entre elementos en dispositivos pequeños 
    }
}*/
main.cards {
  display: flex;
  padding: 40px;
}

main.cards section.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 8px;
  max-height: 350px;
  max-width: 250px;
  margin-left: 32px;
}

main.cards section.card.Luffy {
  background: linear-gradient(to bottom, #d9160f 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #f11f30;
  color: #d9160f;
}

main.cards section.card.Zoro {
  background: linear-gradient(to bottom, #0e791a 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #28A745;
  color: #0e791a;
}

main.cards section.card.Usopp {
  background: linear-gradient(to bottom, #FFFF00 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #FFC107;
  color: #FFC107;
}

main.cards section.card.Sanji {
  background: linear-gradient(to bottom, #1628c9 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #1D3557;
  color: #1628c9;
}

main.cards section.card.Nami {
  background: linear-gradient(to bottom, #f88809 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #FD7E14;
  color: #FD7E14;
}

main.cards section.card.Chopper {
  background: linear-gradient(to bottom, #d306d3 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #E83E8C;
  color: #d306d3;
}

main.cards section.card.Robin {
  background: linear-gradient(to bottom, #2e0555 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #8136e2;
  color: #2e0555;
}

main.cards section.card.Franky {
  background: linear-gradient(to bottom, #46dffa 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #2a5fcf;
  color: #2a5fcf;
}

main.cards section.card.Brook {
  background: linear-gradient(to bottom, #000 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #000;
  color: #000;
}

main.cards section.card.Jinbe {
  background: linear-gradient(to bottom, #9e0631 50%, #ffffff 50%);
  box-shadow: 0px 0px 10px #c7374f;
  color: #9e0631;
}

main.cards section.card:first-child {
  margin-left: 0;
}

main.cards section.card .foto-perfil {
  margin-top: 40px;
  width: 50%;
  object-fit: scale-down;
}

main.cards section.card p {
  font-size: 100%;
  margin: 16px 0;
  font-family: "Devil Fruit", fantasy;
}

main.cards section.card img {
  margin-bottom: 10px;
  width: 120px;
  border-radius: 100%;
}

main.cards section.card span {
  font-weight: 300;
  max-width: 240px;
  font-size: 80%;
  margin-bottom: 16px;
  font-family: "Skull and Cross", sans-serif;
  color: #000;
}

@media screen and (max-width: 720px) {
  main.cards {
    flex-direction: column;
  }
  main.cards section.card {
    margin-left: 0;
    margin-bottom: 32px;
  }
  main.cards section.card:last-child {
    margin-bottom: 0;
  }
}
.pre {
  border-radius: 10px;
  background: linear-gradient(to right, #E83E8C, #8A2BE2);
  color: #ffffff;
  height: auto;
  text-align: justify;
  margin-left: 80px;
  margin-left: 20px;
}

.code {
  width: 400px;
  height: auto;
  font-size: 15px;
}

.badge__1 {
  background-color: #8136e2;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-family: "Devil Fruit", fantasy;
}

.badge__2 {
  background-color: #ecaacd;
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-family: "Devil Fruit", fantasy;
}

.badge__3 {
  background-color: #2e0555;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  font-family: "Devil Fruit", fantasy;
}

.badge__4 {
  background-color: #9e0631;
  color: #ffffff;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 2rem;
  font-family: "Devil Fruit", fantasy;
}

footer {
  background-color: rgb(36, 33, 35);
  color: #FDFCDC;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer-content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
footer p {
  margin: 10px 20px;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 40px 0;
  }
  p {
    margin: 10px;
  }
}
.dark-container {
  background-color: #DC143C;
}

.rounded-container {
  border-radius: 20px;
  background-color: #DC143C;
}

.elevated-container {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #DC143C;
}

.spaced-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Pequeño */
.pequeno {
  width: 20px;
  height: 20px;
  background-color: #DC143C;
}

/* Mediano */
.mediano {
  width: 50px;
  height: 50px;
  background-color: #DC143C;
}

/* Grande */
.grande {
  width: 100px;
  height: 100px;
  background-color: #DC143C;
}

/* Extra Grande */
.extra-grande {
  width: 200px;
  height: 200px;
  background-color: #DC143C;
}

/*# sourceMappingURL=main.css.map */
