/* Variables de colores para alertas */
@use '../UTILIDADES/colores';
@use '../UTILIDADES/tipografia-tex';
@use '../UTILIDADES/sombras';
@use '../UTILIDADES/bordes';
@use '../UTILIDADES/iconos';

// Estilos base para alertas
.alert {
  padding: 10px 30px;
  margin: 25px auto; /* Márgenes automáticos para centrar */
  max-width: 600px; /* Ancho máximo de la alerta */
  display: flex;
  align-items: center;
  text-align: center;
  
}

// Estilos específicos para cada tipo de alerta
.alert-success {
  
  background:  colores.$color-zoro;
 font-family: tipografia-tex.$font-devil-fruit;
 text-align: center;
@extend .borde-brillante;
}

.alert-info {
  background:  colores.$color-sanji;
  color: colores.$color-sombra;
  text-decoration: underline; 
  background:  transparent;
  @extend .borde-brillante;
  text-align: center;
}

.alert-warning {
  background-color: colores.$color-usopp;
  color: #212529; // Color de texto oscuro para alertas amarillas
  text-align: center;
}

.alert-danger {
  background-color: colores.$color-luffy;
  color: white;
  text-align: center;
}

// Estilos para iconos dentro de las alertas
.alert-icon {
  margin-left: 10px;
  width: 100px; /* Tamaño del icono */
  height: 100px; /* Tamaño del icono */
  max-width: 20px; /* Ancho máximo del icono */
  max-height: 20px; /* Altura máxima del icono */
}

// Definir imágenes para cada tipo de alerta
$icon-success: url('../IMGs/exito.ico');
$icon-info: url('info.png');
$icon-warning: url('warning.png');
$icon-danger: url('error.png');

// Aplicar imágenes a las alertas correspondientes
.alert-success .alert-icon {
  background-image: $icon-success;
}

.alert-info .alert-icon {
  background-image: $icon-info;
}

.alert-warning .alert-icon {
  background-image: $icon-warning;
}

.alert-danger .alert-icon {
  background-image: $icon-danger;
}

// Media queries para ajustes responsivos
@media (max-width: 968px) {
  .alert {
    flex-direction: column; /* Cambiar la dirección de los elementos en pantallas pequeñas */
    text-align: center; /* Centrar el texto en pantallas pequeñas */
  }

  .alert-icon {
    margin-right: 0; /* Eliminar el margen derecho en pantallas pequeñas */
    margin-bottom: 10px; /* Añadir espacio entre el icono y el texto en pantallas pequeñas */
    width: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    height: 50px; /* Ajustar el tamaño del icono en pantallas pequeñas */
    max-width: 50px; /* Ancho máximo del icono en pantallas pequeñas */
    max-height: 50px; /* Altura máxima del icono en pantallas pequeñas */
  }
}
