@use '../UTILIDADES/colores';
@use '../UTILIDADES/tipografia-tex';

$badge-padding: 0.25rem 0.5rem;
$badge-border-radius: 0.25rem;
$badge-font-size: 1rem;

// Estilos para el primer badge (tamaño pequeño)
.badge__1 {
  background-color: colores.$color-gomugomu;
  color: colores.$color-negro;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size;
  font-family: tipografia-tex.$font-devil-fruit
}

// Estilos para el segundo badge (tamaño mediano)
.badge__2 {
  background-color: colores.$color-hana; // Cambia el color si deseas
  color: colores.$color-negro;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size * 1.2; // Tamaño un 20% más grande
  font-family: tipografia-tex.$font-devil-fruit
}

// Estilos para el tercer badge (tamaño grande)
.badge__3 {
  background-color: colores.$color-violeta; // Cambia el color si deseas
  color: colores.$color-brook;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size * 1.5; // Tamaño un 50% más grande
  font-family: tipografia-tex.$font-devil-fruit
}

// Estilos para el cuarto badge (tamaño extra grande)
.badge__4 {
  background-color: colores.$color-jinbe; // Cambia el color si deseas
  color: colores.$color-brook;
  padding: $badge-padding;
  border-radius: $badge-border-radius;
  font-size: $badge-font-size * 2; // Tamaño el doble de grande
  font-family: tipografia-tex.$font-devil-fruit
}


// Mixin para estilos de los badges
@mixin badge-style($color) {
  background-color: $color;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 14px;
}

