@use '../UTILIDADES/colores';
@use '../UTILIDADES/sombras';
@use '../UTILIDADES/bordes';
@use '../UTILIDADES/tipografia-tex';
@import '../Mixin/mixinBtn';

@import '../UTILIDADES/sombras';


$pading-btn: 16px;

//DECRARACION DE VARIABLES 
$display_btn: grid;
$gap_btn: 16px;
$padding_btn: 30px;
$margin_btn: 16px;

.btn{
    @extend .sombra_superior;
    background-color: rosybrown;
    @extend .borde__dotted ;
    padding: 10px;
    width: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}
//BTN CAMBIO DE COLOR
.boton__cambio__color{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    background-color: colores.$color-verde;
    cursor: pointer;
}
.boton__cambio__color:hover{
    background-color: colores.$color-zoro;
}

//CREANDO BTN CON AMIMACION 1
.boton__animacion__1{
    box-shadow: 
    0 0 5px colores.$color-fondo-iluminado,
    0 0 25px colores.$color-fondo-iluminado;
    background-color: colores.$color-fondo-iluminado;
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    justify-content: center;
        cursor: pointer;
    cursor: pointer;
}
.boton__animacion__1:hover {
    box-shadow:
        0 0 5px colores.$color-fondo-iluminado,
        0 0 25px colores.$color-fondo-iluminado, 
        0 0 25px colores.$color-fondo-iluminado,
        0 0 50px colores.$color-fondo-iluminado,
        0 0 100px colores.$color-fondo-iluminado,
        0 0 150px colores.$color-fondo-iluminado,
        0 0 200px colores.$color-fondo-iluminado;
    
}

//****ANMIMACION PEQUEÑA
.boton__animacion_1_pequeno{
    @extend .boton__animacion__1;
    @extend .boton__pequeno;
}

//animacion mediana
.boton__animacion_1_mediano{
    @extend .boton__animacion__1;
    @extend .boton__mediano;
}

//animacion grande

.boton__animacion_1_grande{
    @extend .boton__animacion__1;
    @extend .boton__grande;
}

//animacion extra grages
.boton__animacion_1_extra_grande{
    @extend .boton__animacion__1;
    @extend .boton__extra_grande;
}



//TAMNOS DE BTS PRA  NAIMACION 1

//****************************

//CREANDO BTN CON AMIMACION 2
.boton__animacion__2{
    box-shadow: 
    0 0 5px colores.$color-rosa,
    0 0 25px colores.$color-rosa;
    background-color: colores.$color-rosa;
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    justify-content: center;
        cursor: pointer;
    cursor: pointer;


   
}
.boton__animacion__2:hover {
    box-shadow:
        0 0 5px colores.$color-rosa,
        0 0 25px colores.$color-rosa, 
        0 0 25px colores.$color-rosa,
        0 0 50px colores.$color-rosa,
        0 0 100px colores.$color-rosa,
        0 0 150px colores.$color-rosa,
        0 0 200px colores.$color-rosa;
}

//TAMNOS DE BTS PRA  NAIMACION 2
//borton pequeño animacion 2

.boton__animacion_2_pequeno{
    @extend .boton__animacion__2;
    @extend .boton__pequeno;
}

//borton mediano animacion 2

.boton__animacion_2_mediano{
    @extend .boton__animacion__2;
    @extend .boton__mediano;
}

//borton grande animacion 2

.boton__animacion_2_grande{
    @extend .boton__animacion__2;
    @extend .boton__grande;
}

//borton extra grande animacion 2

.boton__animacion_2_extra_grande{
    @extend .boton__animacion__2;
    @extend .boton__extra_grande;
}











//CREANDO BTN CON AMIMACION 3
.boton__animacion__3{
    box-shadow: 
    0 0 5px colores.$color-mar,
    0 0 25px colores.$color-mar;
    background-color: colores.$color-mar;
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    justify-content: center;
        cursor: pointer;
    cursor: pointer;


   

}
.boton__animacion__3:hover {
    box-shadow:
        0 0 5px colores.$color-mar,
        0 0 25px colores.$color-mar, 
        0 0 25px colores.$color-mar,
        0 0 50px colores.$color-mar,
        0 0 100px colores.$color-mar,
        0 0 150px colores.$color-mar,
        0 0 200px colores.$color-mar;
}

//TAMNOS DE BTS PRA  NAIMACION 3
// tamaño pequeño

.boton__animacion_3_pequeno{
    @extend .boton__animacion__3;
    @extend .boton__pequeno;
}

//tamaño mediano

.boton__animacion_3_mediano{
    @extend .boton__animacion__3;
    @extend .boton__mediano;
}

//tamaño grande

.boton__animacion_3_grande{
    @extend .boton__animacion__3;
    @extend .boton__grande;
}

//tamaño extra grande

.boton__animacion_3_extra_grande{
    @extend .boton__animacion__3;
    @extend .boton__extra_grande;
}



//CREANDO BTN CON AMIMACION 4
.boton__animacion__4{
    box-shadow: 
    0 0 5px colores.$color-nami,
    0 0 25px colores.$color-nami;
    background-color: colores.$color-nami;
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    justify-content: center;



}
.boton__animacion__4:hover {
    box-shadow:
        0 0 5px colores.$color-nami,
        0 0 25px colores.$color-nami, 
        0 0 25px colores.$color-nami,
        0 0 50px colores.$color-nami,
        0 0 100px colores.$color-nami,
        0 0 150px colores.$color-nami,
        0 0 200px colores.$color-nami;
}

//TAMNOS DE BTS PRA  NAIMACION 4
//tamaño pequeño

.boton__animacion_4_pequeno{
    @extend .boton__animacion__4;
    @extend .boton__pequeno;
}

//tamaño mediano

.boton__animacion_4_mediano{
    @extend .boton__animacion__4;
    @extend .boton__mediano;
}

//tamaño grande

.boton__animacion_4_grande{
    @extend .boton__animacion__4;
    @extend .boton__grande;
}

//tamaño extra grande

.boton__animacion_4_extra_grande{
    @extend .boton__animacion__4;
    @extend .boton__extra_grande;
}

//CREANDO BTN BASICOSS
.boton__basico__1{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    background-color: colores.$color-gris;
    cursor: pointer;
}

//crando tamano de bt basico
//boton basico pequeno
.boton__basico__1__pequeno{
    @extend .boton__basico__1;
    @extend .boton__pequeno;
}

//boton basico mediano
.boton__basico__1__mediano{
    @extend .boton__basico__1;
    @extend .boton__mediano;
}

//boton basico grande
.boton__basico__1__grande{
    @extend .boton__basico__1;
    @extend .boton__grande;
}

//boton basico extra grande
.boton__basico__1__extra_grande{
    @extend .boton__basico__1;
    @extend .boton__extra_grande;
}

.boton__basico__2{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    background-color: colores.$color-amarillo;
    cursor: pointer;
    
}
//tamaño pequeño

.boton__basico__2__pequeno{
    @extend .boton__basico__2;
    @extend .boton__pequeno;
}

//tamaño mediano

.boton__basico__2__mediano{
    @extend .boton__basico__2;
    @extend .boton__mediano;
}

//tamaño grande

.boton__basico__2__grande{
    @extend .boton__basico__2;
    @extend .boton__grande;
}

//tamaño extra grande

.boton__basico__2__extra_grande{
    @extend .boton__basico__2;
    @extend .boton__extra_grande;
}



.boton__basico__3{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    background-color: colores.$color-verde;
    cursor: pointer;
}

//tamaño pequeño

.boton__basico__3__pequeno{
    @extend .boton__basico__3;
    @extend .boton__pequeno;
}

//tamaño mediano

.boton__basico__3__mediano{
    @extend .boton__basico__3;
    @extend .boton__mediano;
}

//tamaño grande

.boton__basico__3__grande{
    @extend .boton__basico__3;
    @extend .boton__grande;
}

//tamaño extra grande

.boton__basico__3__extra_grande{
    @extend .boton__basico__3;
    @extend .boton__extra_grande;
}

.boton__basico__4{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 20px;
    background-color: colores.$color-luffy;
    cursor: pointer;
}

//tamaño pequeño

.boton__basico__4__pequeno{
    @extend .boton__basico__4;
    @extend .boton__pequeno;
}

//tamaño mediano

.boton__basico__4__mediano{
    @extend .boton__basico__4;
    @extend .boton__mediano;
}

//tamaño grande

.boton__basico__4__grande{
    @extend .boton__basico__4;
    @extend .boton__grande;
}

//tamaño extra grande

.boton__basico__4__extra_grande{
    @extend .boton__basico__4;
    @extend .boton__extra_grande;
}

//Botones con fondo balnco 
.boton__blanco__1{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 10px;
    background-color: colores.$color-secundario;
    color: colores.$color-verde;
    text-transform: uppercase;
    border-color: colores.$color-verde;
    cursor: pointer;
    @extend .quote;
}

//crean tamaño de boton fondo blaco
//fondo blanco pequeno
.boton__blanco__1_pequño{
    @extend .boton__blanco__1;
    @extend .boton__pequeno;
}
//fondo balco mediano
.boton__blanco__1_mediano{
    @extend .boton__blanco__1;
    @extend .boton__mediano;
}
//fondo fondo balco grande
.boton__blanco__1_grande{
    @extend .boton__blanco__1;
    @extend .boton__grande;
}
//fondo balco extragrade
.boton__blanco__1_extra_grande{
    @extend .boton__blanco__1;
    @extend .boton__extra_grande;
}

//FONDO BALCOLO 2
.boton__blanco__2{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 10px;
    background-color: colores.$color-secundario;
    color: colores.$color-luffy;
    text-transform: uppercase;
    border-color: colores.$color-luffy;
    cursor: pointer;
    @extend .quote;
}
//pequeño

.boton__blanco__2_pequeno{
    @extend .boton__blanco__2;
    @extend .boton__pequeno;
}
//mediano

.boton__blanco__2_mediano{
    @extend .boton__blanco__2;
    @extend .boton__mediano;
}
//grande

.boton__blanco__2_grande{
    @extend .boton__blanco__2;
    @extend .boton__grande;
}
//extra grande

.boton__blanco__2_extra_grande{
    @extend .boton__blanco__2;
    @extend .boton__extra_grande;
}

//FONDO BALCOLO 3
.boton__blanco__3{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 10px;
    background-color: colores.$color-secundario;
    color: colores.$color-nami;
    text-transform: uppercase;
    border-color: colores.$color-nami;
    cursor: pointer;
    @extend .quote;
}

//pequeño

.boton__blanco__3_pequeno{
    @extend .boton__blanco__3;
    @extend .boton__pequeno;
}
//mediano

.boton__blanco__3_mediano{
    @extend .boton__blanco__3;
    @extend .boton__mediano;
}
//grande

.boton__blanco__3_grande{
    @extend .boton__blanco__3;
    @extend .boton__grande;
}
//extra grande

.boton__blanco__3_extra_grande{
    @extend .boton__blanco__3;
    @extend .boton__extra_grande;
}

//FONDO BALCOLO 4
.boton__blanco__4{
    @extend .borde__Esquinas_dedondeada;
    margin: 16px;
    padding: 10px;
    background-color: colores.$color-secundario;
    color: colores.$color-usopp;
    text-transform: uppercase;
    border-color: colores.$color-usopp;
    cursor: pointer;
    @extend .quote;
}


//pequeño

.boton__blanco__4_pequeno{
    @extend .boton__blanco__4;
    @extend .boton__pequeno;
}
//mediano

.boton__blanco__4_mediano{
    @extend .boton__blanco__4;
    @extend .boton__mediano;
}
//grande

.boton__blanco__4_grande{
    @extend .boton__blanco__4;
    @extend .boton__grande;
}
//extra grande

.boton__blanco__4_extra_grande{
    @extend .boton__blanco__4;
    @extend .boton__extra_grande;
}




//BOTONES CON movimeientos
.boton__Movimento__Rosa{
    @extend .borde__redondeado__50px;
    padding: 17px 40px; // Corregido: agregué "px" después de 40
    background-color: colores.$color-rosa; // Utilizando la variable de color
    box-shadow: colores.$color-negro 0 0 8px; // Utilizando la variable de color
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.05s ease;
    cursor: pointer;
    line-height: 1.5;
    font-family: tipografia-tex.$font-ancient-text;

    padding: 20px;

    &:hover {
        line-height: 3px;
        background-color: colores.$color-rosa;
        color: colores.$color-secundario; // Variable de color secundario
        box-shadow: colores.$color-franky 0 7px 29px 0;
    }

    &:active {
        line-height: 3px;
        background-color: colores.$color-rosa;
        color: colores.$color-secundario; //color secundario
        box-shadow: colores.$color-franky 0 0 0 0;
        transform: translate(18px);
        transition: 100ms;
    }
}
   
    //CODIFICANDO TAMAÑO PARA BTS 
    //tamaño pequeño 
    .boton__Movimento__Rosa__pequeño{
        @extend .boton__Movimento__Rosa;
        @extend .boton__pequeno;
    }
    //tamaño mediano
    .boton__Movimento__Rosa__mediano{
        @extend .boton__Movimento__Rosa;
        @extend .boton__mediano;
    }
    //tamaño grande
    .boton__Movimento__Rosa__grande{
        @extend .boton__Movimento__Rosa;
        @extend .boton__grande;
    }
    //tamaño extra grande
    .boton__Movimento__Rosa__extra_grande{
        @extend .boton__Movimento__Rosa;
        @extend .boton__extra_grande;
    }




    //----------------------------------------------------//
    /*BONTON ROJO */
    //----------------------------------------------------//

    .boton__Movimento__rojo{
        @extend .borde__redondeado__50px;
        padding: 17px 40px; 
        background-color: colores.$color-luffy;
        box-shadow: colores.$color-negro 0 0 8px; // Utilizando la variable de color
        text-transform: uppercase;
        font-size: 14px;
        transition: all 0.05s ease;
        cursor: pointer;
        line-height: 1.5;
        font-family: tipografia-tex.$font-ancient-text;

        padding: 20px;

    
        &:hover{
            line-height: 3px;
            background-color: colores.$color-luffy; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 7px 29px 0;
        }
    
        &:active{
            line-height: 3px;
            background-color: colores.$color-luffy; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 0 0 0;
            transform: translate(18px);
            transition: 100ms;
        }
    }

    //CODIFICANDO TAMAÑO PARA BTS
    //tamaño pequeño 
    .boton__Movimento__rojo__pequeño{
        @extend .boton__Movimento__rojo;
        @extend .boton__pequeno;
    }
    //tamaño mediano
    .boton__Movimento__rojo__mediano{
        @extend .boton__Movimento__rojo;
        @extend .boton__mediano;
    }
    //tamaño grande
    .boton__Movimento__rojo__grande{
        @extend .boton__Movimento__rojo;
        @extend .boton__grande;
    }
    //tamaño extra grande
    .boton__Movimento__rojo__extra_grande{
        @extend .boton__Movimento__rojo;
        @extend .boton__extra_grande;
    }




    //----------------------------------------------------//
    /*BONTON verdeee*/
    //----------------------------------------------------//
    .boton__Movimento__verde{
        @extend .borde__redondeado__50px;
        padding: 17px 40px; 
        background-color: colores.$color-zoro;
        box-shadow: colores.$color-negro 0 0 8px; // Utilizando la variable de color
        text-transform: uppercase;
        font-size: 14px;
        transition: all 0.05s ease;
        cursor: pointer;
        line-height: 1.5;
        font-family: tipografia-tex.$font-ancient-text;

        padding: 20px;

    
        &:hover{
            line-height: 3px;
            background-color: colores.$color-zoro; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 7px 29px 0;
        }
    
        &:active{
            line-height: 3px;
            background-color: colores.$color-zoro; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 0 0 0;
            transform: translate(18px);
            transition: 100ms;
        }
    }

    //CODIFICANDO TAMAÑO PARA BTS
    //tamaño pequeño 
    .boton__Movimento__verde__pequeño{
        @extend .boton__Movimento__verde;
        @extend .boton__pequeno;
    }
    //tamaño mediano
    .boton__Movimento__verde__mediano{
        @extend .boton__Movimento__verde;
        @extend .boton__mediano;
    }
    //tamaño grande
    .boton__Movimento__verde__grande{
        @extend .boton__Movimento__verde;
        @extend .boton__grande;
    }
    //tamaño extra grande
    .boton__Movimento__verde__extra_grande{
        @extend .boton__Movimento__verde;
        @extend .boton__extra_grande;
    }


     //----------------------------------------------------//
    /*BONTON NARAJA*/
    //----------------------------------------------------//
    .boton__Movimento__naranja{
        @extend .borde__redondeado__50px;
        padding: 17px 40px; 
        background-color: colores.$color-nami;
        box-shadow: colores.$color-negro 0 0 8px; // Utilizando la variable de color
        text-transform: uppercase;
        font-size: 14px;
        transition: all 0.05s ease;
        cursor: pointer;
        line-height: 1.5;
        font-family: tipografia-tex.$font-ancient-text;

        padding: 20px;
    
        &:hover{
            line-height: 3px;
            background-color: colores.$color-nami; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 7px 29px 0;
        }
    
        &:active{
            line-height: 3px;
            background-color: colores.$color-nami; 
            color: colores.$color-secundario; 
            box-shadow: colores.$color-negro 0 0 0 0;
            transform: translate(18px);
            transition: 100ms;

            
        }
    }

    //CODIFICANDO TAMAÑO PARA BTS
    //tamaño pequeño 
    .boton__Movimento__naranja__pequeño{
        @extend .boton__Movimento__naranja;
        @extend .boton__pequeno;
    }
    //tamaño mediano
    .boton__Movimento__naranja__mediano{
        @extend .boton__Movimento__naranja;
        @extend .boton__mediano;
    }
    //tamaño grande
    .boton__Movimento__naranja__grande{
        @extend .boton__Movimento__naranja;
        @extend .boton__grande;
    }
    //tamaño extra grande
    .boton__Movimento__naranja__extra_grande{
        @extend .boton__Movimento__naranja;
        @extend .boton__extra_grande;
    }




//CLASE DE TAMNO 

// Botón tamaño pequeño
.boton__pequeno {
    padding: 10px; // Tamaño pequeño
}

// Botón tamaño mediano
.boton__mediano {
    padding: 20px; // Tamaño mediano
}

// Botón tamaño grande
.boton__grande {
    padding: 30px; // Tamaño grande
}

// Botón tamaño extra grande
.boton__extra_grande {
    padding: 40px; // Tamaño extra grande
}


















 


@media (max-width: 768px) {
    .boton__animacion__1
    .boton__animacion__2,
    .boton__animacion__3,
    .boton__animacion__4,
    .boton__basico__1,
    .boton__basico__2,
    .boton__basico__3,
    .boton__basico__4,
    .boton__blanco__1,
    .boton__blanco__2,
    .boton__blanco__3,
    .boton__blanco__4,
    .boton__Movimento__Rosa,
    .boton__Movimento__rojo,
    .boton__Movimento__verde,
    .boton__Movimento__naranja{
      flex-direction: column; // Cambiar la dirección de los elementos en pantallas pequeñas */
      text-align: center; // Centrar el texto en pantallas pequeñas 
    }
}