@use '../UTILIDADES/colores';
@use '../UTILIDADES/tipografia-tex';


main.cards {
    display: flex;
    padding: 40px;
}
main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 8px;
    max-height: 350px;
    max-width: 250px;
    margin-left: 32px;
}
main.cards section.card.Luffy{
    background: linear-gradient(to bottom, colores.$color-luffy 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-primario;
    color: colores.$color-luffy;
}
main.cards section.card.Zoro{
    background: linear-gradient(to bottom, colores.$color-zoro 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-verde;
    color: colores.$color-zoro;
}
main.cards section.card.Usopp{
    background: linear-gradient(to bottom, colores.$color-usopp 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-amarillo;
    color: colores.$color-amarillo;
}
main.cards section.card.Sanji{
    background: linear-gradient(to bottom, colores.$color-sanji 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-texto;
    color: colores.$color-sanji;
}
main.cards section.card.Nami{
    background: linear-gradient(to bottom, colores.$color-nami 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-naranja;
    color: colores.$color-naranja;
}
main.cards section.card.Chopper{
    background: linear-gradient(to bottom, colores.$color-chopper 50%, colores.$color-brook 50% ) ;
    box-shadow: 0px 0px 10px colores.$color-rosa; 
    color: colores.$color-chopper;
}
main.cards section.card.Robin{
    background: linear-gradient(to bottom, colores.$color-robin 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-violeta;
    color: colores.$color-robin;
}
main.cards section.card.Franky{
    background: linear-gradient(to bottom, colores.$color-franky 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-mar;
    color: colores.$color-mar;
}
main.cards section.card.Brook{
    background: linear-gradient(to bottom, colores.$color-negro 50%, colores.$color-brook 50% ) ;
    box-shadow: 0px 0px 10px colores.$color-negro; 
    color: colores.$color-negro;
}
main.cards section.card.Jinbe{
    background: linear-gradient(to bottom, colores.$color-jinbe 50%, colores.$color-brook 50% ) ; 
    box-shadow: 0px 0px 10px colores.$color-hebihebino;
    color: colores.$color-jinbe;
}
main.cards section.card:first-child {
    margin-left: 0;
}

main.cards section.card .foto-perfil {
    margin-top: 40px;
    width: 50%;
    object-fit: scale-down;
}
main.cards section.card p {
    font-size: 100%;
    margin: 16px 0;
    font-family: tipografia-tex.$font-devil-fruit;
}
main.cards section.card img {
    margin-bottom: 10px;
    width: 120px;
    border-radius: 100%;
}
main.cards section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
    font-family: tipografia-tex.$font-skull;
    color: colores.$color-negro;
}

@media screen and (max-width: 720px) {
    main.cards{
        flex-direction: column;
    }
    main.cards section.card{
        margin-left: 0;
        margin-bottom: 32px;
    }
    main.cards section.card:last-child{
        margin-bottom: 0;
    }
}


