@use '../UTILIDADES/bordes';
@use '../UTILIDADES/colores';
@use '../Clases_Componentes/botones';
@use '../UTILIDADES/tipografia-tex';


//***********************************************************
//           VARIABLES 
//***********************************************************

$pading-btn: 16px;
$pandin-contedido: 20px;
$magen-contenido: 16px;

//***********************************************************
//           FORMULARIO 1
//***********************************************************
.formulario {
    form {
        display: grid;
        flex-direction: column;
        gap: 16px;
        align-items: first baseline;
        width: 100%;
        max-width: 500px;
        margin: 5PX;
        padding: $pandin-contedido;
        background-color: colores.$Azul-marino ;
    }
    label {
        display: block;
        @extend .borde__redondeado__50px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        @extend .borde__redondeado__50px;
        background-color: colores.$color-morado;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        @extend .boton__Movimento__Rosa;
        padding: 10px 20px;
        background-color: colores.$color-zoro;
        color: colores.$color-nami;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: darken(colores.$color-zoro, 10%);
    }
}


//***********************************************************
//           FORMULARIO 2
//***********************************************************
.formulario__basico__2{ //clase general
    max-width: 100%;
    font-family: tipografia-tex.$font-marine;
    background-image: linear-gradient(to right, rgb(109, 28, 223), rgb(142, 221, 231)); /* Degradado de azul a verde menta */
    padding: $pandin-contedido;
    margin: $magen-contenido;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(0, 1fr)); // Crea columnas 
    justify-items: center;
    align-items: center;
    gap: 16px;

    form{
        @extend .sombra_inferior;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 800px;
        margin: 20px auto; // Agregar margen superior e inferior
        padding: $pandin-contedido;
        background-color: colores.$color-gris;  
        font-size: large;   
    }
    label{
        color: colores.$color-negro;
        font-family: tipografia-tex.$font-pirate;
        margin: $magen-contenido;
        display: block;
        text-align: left;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
    }
  
  // Estilos para los campos de entrada
     input{
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR       
    }

    // Estilos para el botón de enviar
    textarea {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
    
    }

  
    fieldset {
        @extend .borde__Esquinas_dedondeada;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR
        padding: 0.5rem; 
        display: grid;
        grid-template-rows: auto 1fr; // Primera columna 
        align-items: start; 
        justify-content: start
    }

    legend {
        @extend .borde__Esquinas_dedondeada;
        border-radius: 10px;
        border-color: colores.$color-fondo-iluminado;
        font-family: tipografia-tex.$font-marine;
        margin: 10px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        @extend .borde__Esquinas_dedondeada;
        max-width: 90%;
        width: 100%; // OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;
        margin-right: 0.2rem; // Ajusta el margen derecho
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: start;
    }


    input[type="text"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;

    }

    
    input[type="password"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font: password; /* Ocult text*/
        font-family: tipografia-tex.$font-marine;


    }
    input[type="email"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;

    }

    .formulario__basico__2, button {
        @extend .boton__Movimento__Rosa;
        grid-template-rows: 2;
    }
    
    
  
    select {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%; 
        appearance: none; // 
        font-size: 16px; //
    }
    option {
        font-family: tipografia-tex.$font-marine;
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR
        color: colores.$color-nami;
        padding: 18px;
        height: 10px;
        
    }

    option:hover {
        background-color: darken(colores.$color-zoro, 10%);
    }



        
}

    
  


//***********************************************************


  

@media (max-width: 768px) {
    .formulario__basico__2
    form,
    label,
    input,
    textarea,
    button {
        width: 100%;
        margin-right: 0; // 
    }

    
}
