@use '../UTILIDADES/bordes';
@use '../UTILIDADES/colores';
@use '../Clases_Componentes/botones';
@use '../UTILIDADES/tipografia-tex';

//***********************************************************
//           FORMULARIO 1
//***********************************************************
.formulario {
    form {
        display: grid;
        flex-direction: column;
        gap: 16px;
        align-items: first baseline;
        width: 100%;
        max-width: 500px;
        margin: 5PX;
        padding: 20px;
        background-color: colores.$Azul-marino ;
    }
    label {
        display: block;
        @extend .borde__redondeado__50px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea,
    select {
        @extend .borde__redondeado__50px;
        background-color: colores.$color-morado;
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    textarea {
        resize: vertical;
    }

    button[type="submit"] {
        @extend .boton__Movimento__Rosa;
        padding: 10px 20px;
        background-color: colores.$color-zoro;
        color: colores.$color-nami;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button[type="submit"]:hover {
        background-color: darken(colores.$color-zoro, 10%);
    }
}


//***********************************************************
//           FORMULARIO 2
//***********************************************************
.formulario__basico__2{ //clase general
 
  
  // Estilos generales del formulario
  form{
    @extend .sombra_inferior;
    background-color: colores.$Verde-esmeralda;
    max-width: 80%;
    font-family: tipografia-tex.$font-marine;

  }
  label{
    font-size: 16px;
    font-family: tipografia-tex.$font-marine;
    color: colores.$color-negro;



  }
  
  // Estilos para los campos de entrada
    input {
        @extend .borde__Esquinas_dedondeada;
    }
  
  // Estilos para el botón de enviar
   button {
    @extend .borde__Esquinas_dedondeada;
  } 
  
  // Estilos para el área de mensaje
   textarea,
   select {
    @extend .borde__Esquinas_dedondeada;

   
    &:focus {
      outline: none;
      border-color: blue;
    }
  }
}
//***********************************************************


@media (max-width: 768px) {
    label,
    input,
    textarea,
    button {
        width: 100%;
        margin-right: 0; // No modificado
    }

    button[type="submit"] {
        margin-top: 10px; // No modificado
    }
}
