@use '../UTILIDADES/bordes';
@use '../UTILIDADES/colores';
@use '../UTILIDADES/tipografia-tex';
@use '../UTILIDADES/sombras';
@use '../Clases_Componentes/botones';
@use '../UTILIDADES/grid__alineamineto';


//***********************************************************
//           VARIABLES 
//***********************************************************

$pading-btn: 16px;
$pandin-contedido: 20px;
$magen-contenido: 16px;

//***********************************************************
//           FORMULARIO 1
//***********************************************************

.form__inicio__de__secion{
    max-width: 100%;
    font-family: tipografia-tex.$font-marine;
    padding: $pandin-contedido;
    margin: $magen-contenido;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 16px;
    background: url("SASS\IMGs\Thousend_Sunny.jpg");
    background-size: cover; /* Para cubrir completamente el áre */
    background-position: center; /* Para centrar la imagen de fondo */
    background-color: colores.$color-gris;

    form{
        @extend .borde__Esquinas_dedondeada;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 80%;
        margin: 20px auto; // Agregar margen superior e inferior
        padding: $pandin-contedido;
        background-color: colores.$Azul-marino;  
        font-size: large;

    }
    //*************************
    //     IMPUT STYLES
    //*************************
    input[type="text"],
    input[type="email"],
    input[type="password"]{
        @extend .boton__cambio__color;   
        background-color: colores.$color-hana;
        max-width: 70%;
        width: 100%;
    }

     //*************************
    //     a STYLES
    //*************************
    a{
        display: block;
        text-align: left;
        text-decoration: none;
        font-size: 16px;

        &:hover{
            color: colores.$Azul-marino;
        }
    }

     //*************************
    //     BUTTON STYLES
    //*************************
    button{
        @extend .boton__cambio__color;   
        display: block;
        text-align: left;
        max-width: 70%;
        width: 100%;//
    }


}

//***********************************************************
//           FORMULARIO 2
//***********************************************************
.formulario__basico__2{ //clase general
    max-width: 100%;
    font-family: tipografia-tex.$font-marine;
    background-image: linear-gradient(to right, rgb(109, 28, 223), rgb(142, 221, 231)); /* Degradado de azul a verde menta */
    padding: $pandin-contedido;
    margin: $magen-contenido;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(0, 1fr)); // Crea columnas 
    justify-items: center;
    align-items: center;
    gap: 16px;

    form{
        @extend .sombra_inferior;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 80%;
        margin: 20px auto; // Agregar margen superior e inferior
        padding: $pandin-contedido;
        background-color: colores.$color-gris;  
        font-size: large;   
    }
    label{
        color: colores.$color-negro;
        font-family: tipografia-tex.$font-pirate;
        margin: $magen-contenido;
        display: block;
        text-align: left;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
    }
  
  // Estilos para los campos de entrada
     input{
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR       
    }

    // Estilos para el botón de enviar
    textarea {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
    
    }

  
    fieldset {
        @extend .borde__Esquinas_dedondeada;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR
        padding: 0.5rem; 
        display: grid;
        grid-template-rows: auto 1fr; // Primera columna 
        align-items: start; 
        justify-content: start
    }

    legend {
        @extend .borde__Esquinas_dedondeada;
        border-radius: 10px;
        border-color: colores.$color-fondo-iluminado;
        font-family: tipografia-tex.$font-marine;
        margin: 10px;
    }

    input[type="checkbox"],
    input[type="radio"] {
        @extend .borde__Esquinas_dedondeada;
        max-width: 90%;
        width: 100%; // OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;
        margin-right: 0.2rem; // Ajusta el margen derecho
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: start;
    }


    input[type="text"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;

    }

    
    input[type="password"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font: password; /* Ocult text*/
        font-family: tipografia-tex.$font-marine;


    }
    input[type="email"] {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR 
        font-family: tipografia-tex.$font-marine;

    }

    .formulario__basico__2, button {
        @extend .boton__Movimento__Rosa;
        grid-template-rows: 2;
    }
    
    
  
    select {
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%; 
        appearance: none; // 
        font-size: 16px; //
    }
    option {
        font-family: tipografia-tex.$font-marine;
        @extend .borde__Esquinas_dedondeada;
        background-color: colores.$color-hana;
        max-width: 90%;
        width: 100%;//OCUP EN ANCHO DISPONIBLE DE UN CONTENEDOR
        color: colores.$color-nami;
        padding: 18px;
        height: 10px;
        
    }

    option:hover {
        background-color: darken(colores.$color-zoro, 10%);
    }



        
}

//***********************************************************
//             FORMULARIO CREAR CUENTA
//***********************************************************
.crear__cuenta{
    @extend .grid__justyfy__content__center;
    max-width: 100%;
    margin: $magen-contenido;
    padding: $pandin-contedido;
    grid-template-columns: 1fr;
    font-family: tipografia-tex.$font-pirate;
    background-color: colores.$color-nami;
    img {
        max-width: 100%; 
        height: auto; //  según el ancho
        display: block; 
        margin: 0 auto; // Centra la imagen horizontalmente
        margin-bottom: 20px;  
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Añade una sombra suave a la imagen si es necesario
    }
    

    form{
        @extend .borde__Esquinas_dedondeada;
        @extend .sombra_inferior;
        @extend .grid__justyfy__content__center;
        font-size: larger; 
        margin: 3px;
        width: 100%;
        max-width: 70%;
    }

    label{
        color: colores.$color-negro;
        display: block;
        text-align: left;
    
    }

    //STYLE PARA IMPUTS
    input,
    input[type="text"],
    input[type="email"],
    input[type="password"]{
        @extend .borde__redondeado__50px;
        margin: 5px;
        padding: 20px;
        background-color: colores.$color-hana;
        font-family: tipografia-tex.$font-pirate;
        width: 100%;
        max-width: 70%;

        

    }

    button{
        @extend .borde__redondeado__50px;
        @extend .boton__animacion__2;
        @extend .alinar__unica__fila__centrado;
        font-family: tipografia-tex.$font-pirate;
        width: 100%;
        max-width: 80%;

    }

}


  

@media (max-width: 768px) {
    .formulario__basico__2
    form,
    label,
    input,
    textarea,
    button {
        width: 100%;
        margin-right: 0; // 
    }

    
}


//***********************************************************
