@use '../UTILIDADES/colores';

.pre {
    border-radius: 10px;
    background: colores.$degradado-rosa-morado;
    color: colores.$color-brook;
    height: auto;
    text-align: justify;
    margin-left: 80px;
}

.code {
    width: 400px;
    height: auto;
    font-size: 15px;
}

