@use '../UTILIDADES/colores';

.pre {
    background: colores.$degradado-rosa-morado ; 
    color: colores.$color-negro; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 0px;
    padding: 3px;
 

    
    &.code {
        width: 100%;
        
        height: auto;
        font-size: 15px;
        font-weight: bold;
    }
}

@media screen and (max-width: 600px) {
    .pre {
        padding: 5px; 
        font-size: 12px; 
    }
}