@charset "UTF-8";
.sombra_superior {
  box-shadow: 0px -25px 25px -20px rgba(15, 13, 15, 0.45);
}

.sombra_derecha {
  box-shadow: 25px 0 25px -20px rgba(15, 13, 15, 0.45);
}

.sombra_inferior {
  box-shadow: 0px 25px 25px -20px rgba(15, 13, 15, 0.45);
}

.sombra_izquierda {
  box-shadow: -25px 0 25px -20px rgba(15, 13, 15, 0.45);
}

.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px rgba(15, 13, 15, 0.45), 25px 0 20px -20px rgba(15, 13, 15, 0.45);
}

.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px rgba(15, 13, 15, 0.45), 0px 25px 20px -20px rgba(15, 13, 15, 0.45);
}

.sombra__superior__izquierda {
  box-shadow: 0px -25px 20px -20px rgba(15, 13, 15, 0.45), -25px 0 20px -20px rgba(15, 13, 15, 0.45);
}

.sombra__inferior__derecha {
  box-shadow: 0px -25px 20px -20px rgba(15, 13, 15, 0.45), 25px 0 20px -20px rgba(15, 13, 15, 0.45);
}

/*----------------------------------------------------------------*/
.todos__lados {
  box-shadow: 0px -25px 50px -20px rgb(36, 33, 35), 25px 0 50px -20px rgb(36, 33, 35), 0px 25px 50px -20px rgb(36, 33, 35), -25px 0 50px -20px rgb(36, 33, 35);
}

/*----------------------------------------------------------------*/
.Diseño__materiales__1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.Diseño__materiales__2 {
  box-shadow: 0 3px 6px rgba(15, 13, 15, 0.45), 0 3px 6px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__3 {
  box-shadow: 0 10px 20px rgba(15, 13, 15, 0.45), 0 6px 6px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__4 {
  box-shadow: 0 14px 28px rgba(15, 13, 15, 0.45), 0 10px 10px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__5 {
  box-shadow: 0 19px 38px rgba(15, 13, 15, 0.45), 0 15px 12px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__6 {
  box-shadow: 0 29px 52px rgba(15, 13, 15, 0.45), 0 25px 16px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__7 {
  box-shadow: 0 45px 65px rgba(15, 13, 15, 0.45), 0 35px 22px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__8 {
  box-shadow: 0 60px 80px rgba(15, 13, 15, 0.45), 0 45px 26px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__9 {
  box-shadow: 0 1px 1px rgba(15, 13, 15, 0.45), 0 2px 2px rgba(15, 13, 15, 0.45);
}

.Diseño__materiales__10 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

.Diseño__materiales__11 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

.Diseño__materiales__12 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11), 0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.Diseño__materiales__13 {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}

.Diseño__materiales__14 {
  box-shadow: 0px 9px 30px rgba(255, 149, 5, 0.3);
}

.Diseño__materiales__15 {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.Diseño__materiales__16 {
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.Diseño__materiales__17 {
  box-shadow: -20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.Diseño__materiales__18 {
  box-shadow: 0 -20px 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.Diseño__materiales__19 {
  box-shadow: 20px 0 10px -20px rgba(0, 0, 0, 0.45) inset;
}

.Diseño__materiales__20 {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.Diseño__materiales__21 {
  box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

.Diseño__materiales__22 {
  box-shadow: -10px 10px 0px rgb(33, 33, 33), -20px 20px 0px rgba(33, 33, 33, 0.7), -30px 30px 0px rgba(33, 33, 33, 0.4), -40px 40px 0px rgba(33, 33, 33, 0.1);
}

.Diseño__materiales__23 {
  box-shadow: 0 0 0 2px rgb(218, 102, 123), 8px 8px 0 0 rgb(218, 102, 123);
}

/*----------------------------------------------------------------*/
div {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 30px;
  border: none;
  width: 240px;
  height: 250px;
  margin: 30px;
  background-color: rgb(234, 241, 231);
}

h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  color: rgb(234, 241, 231);
  margin: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blueviolet;
}/*# sourceMappingURL=Sombras.css.map */