// Paleta de colores inspirada en One Piece

// Colores principales
$color-primario: #f11f30; // Rojo
$color-secundario: #F1FAEE; // Blanco crema
$color-terciario: #A8DADC; // Azul claro
$color-acento: #457B9D; // Azul oscuro
$color-negro: #000;//color negro

// Colores adicionales
$color-fondo: #FDFCDC; // Amarillo claro
$color-texto: #1D3557; // Azul marino
$color-enlace: #A8DADC; // Azul claro (enlaces)

// Colores para sombras
$color-sombra: rgba(15, 13, 15, 0.45);
$color-borde-iluminado: rgb(36, 33, 35);
$color-fondo-iluminado: rgba(163, 255, 183);
$color-borde-reflectante: rgb(52, 131, 29);
$color-fondo-reflectante: rgb(246, 255, 163);

// Colores de personajes principales
$color-luffy: #d9160f; // Luffy
$color-zoro: #0e791a; // Zoro
$color-nami: #f88809; // Nami
$color-usopp: #FFFF00; // Usopp
$color-sanji: #1628c9; // Sanji
$color-chopper: #d306d3; // Chopper
$color-robin: #451561; // Robin
$color-franky: #46dffa; // Franky
$color-brook: #ffffff; // Brook
$color-jinbe: #9e0631; // Jinbe

// Otros colores relacionados con la serie
$color-mar: #2a5fcf; // Mar
$color-cielo: #72d8f7; // Cielo
$color-sombra: #4a4f53; // Sombra

// Colores secundarios
$color-verde: #28A745; // Verde
$color-amarillo: #FFC107; // Amarillo
$color-morado: #6F42C1; // Morado
$color-gris: #6C757D; // Gris
$color-naranja: #FD7E14; // Naranja
$color-rosa: #E83E8C; // Rosa
$color-violeta: #8A2BE2; // Violeta

// Colores de las frutas del diablo
$color-gomugomu: #8136e2; // Gomu Gomu no Mi (Luffy)
$color-toritorinomi: #00eeff; // Tori Tori no Mi, Modelo: Fénix (Marco)
$color-gura: #6be2f1; // Gura Gura no Mi (Barba Blanca)
$color-mochi: #e7e2b4; // Mochi Mochi no Mi (Katakuri)
$color-hana: #ecaacd; // Hana Hana no Mi (Robin)
$color-urarara: #b3b2b4; // Ito Ito no Mi (Doflamingo)
$color-bisubisuno: #a07601; // Bisu Bisu no Mi (Cracker)
$color-hebihebino: #c7374f; // Hebi Hebi no Mi, Modelo: Yamata no Orochi (Orochi)
$color-suke: transparent; // Suke Suke no Mi (Absalom)

// DEGRADADOS
$degradado1: linear-gradient(to right, $color-mar, $color-gura);



