// Paleta de colores inspirada en One Piece

// Colores principales
$color-primario: #f11f30; // Rojo
$color-secundario: #F1FAEE; // Blanco crema
$color-terciario: #A8DADC; // Azul claro
$color-acento: #457B9D; // Azul oscuro
$color-negro: #000;//color negga

// Colores adicionales
$color-fondo: #FDFCDC; // Amarillo claro
$color-texto: #1D3557; // Azul marino
$color-enlace: #A8DADC; // Azul claro (enlaces)

// Colores para sombras
$color-sombra: rgba(15, 13, 15, 0.45);
$color-borde-iluminado: rgb(36, 33, 35);
$color-fondo-iluminado: rgba(163, 255, 183);
$color-borde-reflectante: rgb(52, 131, 29);
$color-fondo-reflectante: rgb(246, 255, 163);

// Colores de personajes principales
$color-luffy: #c8472c; // Luffy
$color-zoro: #0e791a; // Zoro
$color-nami: #f88809; // Nami
$color-usopp: #4D4E4E; // Usopp
$color-sanji: #d2e730; // Sanji
$color-chopper: #7A5E3E; // Chopper
$color-robin: #451561; // Robin
$color-franky: #7F8C8D; // Franky
$color-brook: #95A5A6; // Brook
$color-jinbe: #3498DB; // Jinbe

// Otros colores relacionados con la serie
$color-mar: #5E8A4E; // Mar
$color-cielo: #D8E9F4; // Cielo
$color-sol: #F2D024; // Sol
$color-sombra: #6C757D; // Sombra

// Colores secundarios
$color-verde: #28A745; // Verde
$color-amarillo: #FFC107; // Amarillo
$color-morado: #6F42C1; // Morado
$color-gris: #6C757D; // Gris
$color-naranja: #FD7E14; // Naranja
$color-rosa: #E83E8C; // Rosa
$color-violeta: #8A2BE2; // Violeta

// Colores de las frutas del diablo
$color-gomugomu: #e23644; // Gomu Gomu no Mi (Luffy)
$color-toritorinomi: #FFA500; // Tori Tori no Mi, Modelo: Fénix (Marco)
$color-gura: #A9A9A9; // Gura Gura no Mi (Barbanegra)
$color-mochi: #F0E68C; // Mochi Mochi no Mi (Katakuri)
$color-hana: #FF1493; // Hana Hana no Mi (Robin)
$color-gomugomuno: #48D1CC; // Gomu Gomu no Mi, Modelo: Hombre Elástico (Bellamy)
$color-urarara: #9370DB; // Ura Ura no Mi (Doflamingo)
$color-guru: #87CEEB; // Guru Guru no Mi (Montblanc Cricket)
$color-bisubisuno: #00BFFF; // Bisu Bisu no Mi (Cracker)
$color-hebihebino: #32CD32; // Hebi Hebi no Mi, Modelo: Yamata no Orochi (Orochi)
$color-hira: #FF6347; // Hira Hira no Mi (Kamijiro)
$color-ariari: #808000; // Ari Ari no Mi (Fukurokuju)
$color-oreoreno: #6495ED; // Ore Ore no Mi (Blueno)
$color-girogiro: #228B22; // Giro Giro no Mi (Absalom)
$color-banebane: #FF4500; // Bane Bane no Mi (Bellamy)



// DEGRADADOS


