@use '../UTILIDADES/colores';
@use '../Clases_Componentes/botones';
// Animación para botón de scroll

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.scroll-btn {
  @extend .btn;
  background-color: colores.$color-jinbe;
  color: colores.$color-secundario;
  
  &:hover {
    background-color: darken(colores.$color-jinbe, 10%);
  }
  
  &.animate {
    animation: scrollAnimation 1s infinite;
  }
}

// Animación para elementos al hacer scroll

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUpX {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animated {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
}
.animated2 {
  opacity: 0;
  animation: fadeInUpX 1s ease forwards;
}

// Animación/Transicion de Elementos del carrusel


@mixin transition($transition...) {
  @if length($transition) == 0 {
    $transition: $transition-base;
  }

  @if length($transition) > 1 {
    @each $value in $transition {
      @if $value == null or $value == none {
        @warn "The keyword 'none' or 'null' must be used as a single argument.";
      }
    }
  }

  @if $enable-transitions {
    @if nth($transition, 1) != null {
      transition: $transition;
    }

    @if $enable-prefers-reduced-motion-media-query and nth($transition, 1) != null and nth($transition, 1) != none {
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
    }
  }
}