@use '../UTILIDADES/colores';

// Estilos para aplicar sombra en la parte superior
.sombra_superior {
  box-shadow: 0px -25px 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
}

// Estilos para aplicar sombra en la parte derecha
.sombra_derecha {
  box-shadow: 25px 0 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
}

// Estilos para aplicar sombra en la parte inferior
.sombra_inferior {
  box-shadow: 0px 25px 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
}

// Estilos para aplicar sombra en la parte izquierda
.sombra_izquierda {
  box-shadow: -25px 0 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
}

//  sombra en la parte superior y derecha
.sombra__superior__derecha {
  box-shadow: 0px -25px 20px -20px colores.$color-toritorinomi,
    25px 0 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
  
}

//creando sombra en la parate superio e inferior 
.sombra__superior__inferior {
  box-shadow: 0px -25px 20px -20px colores.$color-toritorinomi,
  0px 25px 20px -20px colores.$color-toritorinomi;
  margin: 20px;
  background-color: colores.$color-urarara;
 
}
