@charset "UTF-8";
.borde__solido {
  border: solid 15px #FF1493;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__dotted {
  border: dotted 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__dashed {
  border: dashed 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__double {
  border: double 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__groove {
  border: groove 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__ridge {
  border: ridge 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__inset {
  border: inset 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__outset {
  border: outset 15px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__none {
  border: none;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

/*------------------------------------------------*/
/*                 BORDES REDONDEADOR             */
/*------------------------------------------------*/
.borde__redondeado__1 {
  border-radius: 25% 10%;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__2 {
  border-radius: 25% 10%;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__3 {
  border-radius: 10% 30% 50% 70%;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__4 {
  border-radius: 10% / 50%;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__5 {
  border-radius: 10px 100px / 120px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__6 {
  border-radius: 50% 20% / 10% 40%;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

/*------------------------------------------------*/
/*          BORDES CON ESQUINA REDONDEADAS         */
/*------------------------------------------------*/
.borde__redondeado__7 {
  border-end-start-radius: 80px 80px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__8 {
  border-end-start-radius: 250px 100px;
  direction: rtl;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__9 {
  border-end-start-radius: 50%;
  writing-mode: vertical-lr;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__10 {
  border-end-start-radius: 50%;
  writing-mode: vertical-rl;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

/*------------------------------------------------*/
/*      BORDER ALINE COLOR                        */
/*------------------------------------------------*/
.borde__redondeado__11 {
  width: 100px;
  /*  */
  height: 100px;
  /* A */
  background-color: #5a93d3;
  /*  */
  border-radius: 50%;
  /* Crea un círculo */
  padding: 20px;
  margin: 20px;
}

.borde__redondeado__12 {
  width: 100px;
  /* Ajusta el tamaño según tus necesidades */
  height: 100px;
  /* Ajusta el tamaño según tus necesidades */
  background-color: #811385;
  /* Cambia el color de fondo según tus necesidades */
  border-radius: 50%;
  /* Crea un círculo */
  padding: 20px;
  margin: 20px;
}

.borde__redondeado__13 {
  width: 100px;
  /* Ajusta el tamaño según tus necesidades */
  height: 100px;
  /* Ajusta el tamaño según tus necesidades */
  background-color: #44c765;
  /* Cambia el color de fondo según tus necesidades */
  border-radius: 50%;
  /* Crea un círculo */
  padding: 20px;
  margin: 20px;
}

/*------------------------------------------------*/
/*          BORDE DIFUMINADO                      */
/*------------------------------------------------*/
.borde__equna {
  border-radius: 60px/20px;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

.borde__redondeado__15 {
  border-radius: 13em/3em;
  border-color: #FF1493;
  background-color: #6C757D;
  padding: 20px;
  margin: 20px;
  width: 20vw;
  height: 20vh;
}

/*------------------------------------------------*/
/*      ESTILO DE HTML                            */
/*------------------------------------------------*/
h1 {
  text-align: center;
  font-size: 100px;
  font-weight: bolder;
  color: #eaf1e7;
  margin: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blueviolet;
}

body {
  background: linear-gradient(to bottom, #eebc32, #80d7e2);
}
